[2020-09-21 16:46] andrew opened #9 "Registration form doesn't load if page loaded via IPFS"
When loading the slingshot registration form on https://slingshot.filecoin.io/register-now whilst you have the [IPFS browser extension](https://github.com/ipfs-shipyard/ipfs-companion) installed the page loads but the embedded form doesn't load in Firefox.

![Screenshot 2020-09-21 at 17 45 10](https://user-images.githubusercontent.com/1060/93796081-37072180-fc32-11ea-9a82-0765c66c3dba.png)

I susp

[2020-09-22 17:57] orvn commented on #9
@andrew thanks for reporting. We're working on a fix!

[2020-09-22 18:29] timelytree commented on #9
Hey @andrew I'm having some trouble replicating this issue on my end - can you send me a screenshot of your console? Just want to see what kinds of error might be popping up :)

[2020-09-22 20:24] timelytree commented on #9
Hey @andrew,

So in @orvn and I's investigation, we've discovered a few things and are hoping you might have some additional insight. Here's a report of our findings:

**Firefox **
- IPFS extension _enabled_ [MacOS and Windows] in _regular_ browsing mode: website and form load **well**
- IPFS extension _enabled_ [MacOS and Windows] in _private_ browsing mode: the entire website **does not load at

[2020-09-23 10:45] andrew commented on #9
The registration form is correctly loading for me too now, so consider this fixed!

[2020-09-23 10:45] #9 closed

[2020-09-24 00:47] dineshshenoy opened #44 "Add photos to Community Reviewers list"

[2020-09-24 00:49] dineshshenoy opened #45 "Add Filecoin slack handle for Mike Goelzner - community reviewer"

[2020-09-24 00:54] dineshshenoy opened #46 "Decide on miner structure (json vs. text) and standardize location/endpoint"
Capturing here for discussion.   Debate on the optimal approach for available miners for slingshot.   Current approach is 3 text files, but a json file maybe easier for like the following:

{
	"buckets": [{
		"name": "North America",
		"amount": 1,
                "minerAddresses": ["t09833"]
	}, {
		"name": "Europe",
		"amount": 1,
		"minerAddresses": ["t02620"]
	}
}

cc: @jsign @ribasushi

[2020-09-24 00:55] dineshshenoy commented on #45
"Mike - Protocol Labs"

[2020-09-24 00:56] dineshshenoy opened #47 "Add instructions on how to submit a PR for a new curated dataset"

[2020-09-24 00:56] dineshshenoy opened #48 "Add instructions on how to add a new miner."

[2020-09-24 01:00] dineshshenoy opened #49 "Add Juan ideas from Slingshot Kickoff to list of curated datasets"
Video:  https://youtu.be/HTn2QCLh1PY

awesome ipfs
arxiv,
audius,
and more...

[2020-09-24 01:05] dineshshenoy opened #50 "Expand list of miners (especially non-Asia)"
Test:
 t014207: USA
  t019551: UK

[2020-09-24 01:13] pooja commented on #45
Quick note, name is Mike Goelzer (no "n") in last name, in case you're having trouble finding him

[2020-09-24 12:29] jsign commented on #46
I think this issue was created after my last comment [here](https://github.com/filecoin-project/slingshot/pull/39).
For Powergate, as for any other application wanting to use this list, a more structured format as JSON I think is more convinient.

[2020-09-24 13:18] jsign commented on #48
Some notes:
- Should be reachable, that's to say: there should be a confirmation that `lotus client query-ask t0XXXX` is successful.
- It should have some power in the network.

[2020-09-24 14:18] jsign commented on #48
Another point, miners should be told that the price per epoch should be something below X to make sense for people having funds of 0.25FIL as planned.

[2020-09-24 16:22] dineshshenoy commented on #46
Moving forward with json and /miners.json

[2020-09-24 16:22] #46 closed

[2020-09-24 18:28] dineshshenoy commented on #48
Also remove the miners/ folder

[2020-09-24 18:29] dineshshenoy commented on #45
https://github.com/filecoin-project/slingshot/pull/67

[2020-09-24 18:29] #45 closed

[2020-09-24 18:29] dineshshenoy commented on #44
https://github.com/filecoin-project/slingshot/pull/67

[2020-09-24 18:29] #44 closed

[2020-09-24 18:32] dineshshenoy opened #68 "Github review process with 2 reviewers is limiting"
Used for participants but hinders other operations

[2020-09-24 19:22] dineshshenoy commented on #50
Add t08094 for asia

[2020-09-24 20:46] dineshshenoy commented on #50
t014207 is offline, but adding other entries with PR for #48 (https://github.com/filecoin-project/slingshot/pull/69)

[2020-09-24 20:46] #50 closed

[2020-09-24 20:51] dineshshenoy commented on #50
Use
...
$ lotus state power <id>
$ lotus client query-ask <id>
....
to validate that node is online and has power.

[2020-09-24 20:58] dineshshenoy commented on #50
Looks like t019551 doesn't have power.  Removing..

[2020-09-24 21:13] dineshshenoy commented on #48
https://github.com/filecoin-project/slingshot/pull/69

[2020-09-24 23:23] dineshshenoy commented on #48
Merged: https://github.com/filecoin-project/slingshot/pull/69

[2020-09-24 23:23] #48 closed

[2020-09-25 15:54] dineshshenoy opened #79 "Add miners to repo list"
t01278 North America  (stuberman)
t014409 North america (monster)

[2020-09-25 16:22] jennijuju commented on #79
test

[2020-09-25 19:26] Meatball13 commented on #79
Miner ID: t014409  North America (Meatball)

[2020-09-25 19:41] sdm101 commented on #79
Miner ID: t021069 North America (Brian Y)

[2020-09-25 19:57] yablu commented on #79
t08403 Europe (TippyFlits)

[2020-09-25 20:00] inickzen commented on #79
MinerID: **t022352**
Location: **Norway, Asker**
Slack: **Reiers**

_- TechHegde_

[2020-09-25 20:02] cwhiggins commented on #79
t015927    North America    Chris

[2020-09-25 20:54] dineshshenoy opened #84 "Remove miners not on v0.80 from miner list"

[2020-09-25 21:37] nad010286 commented on #79
t01238 ASIA (Filecoin-Vietnam)

[2020-09-25 23:06] bestmain commented on #79
t020605 Asia China

[2020-09-26 00:17] liuyongmingeth commented on #79
t08264 Asia China

[2020-09-26 01:35] wangquanzhou1987 commented on #79
t07819 t08937 Asia China

[2020-09-26 03:00] planbfilecoin commented on #79
t019133 Europe planB

[2020-09-26 03:33] maobisheng commented on #79
t01231 Asia China
t016398 Asia China

[2020-09-26 06:57] dineshshenoy commented on #79
https://github.com/filecoin-project/slingshot/pull/88

[2020-09-26 07:36] yablu commented on #79
`lotus version 0.8.0+git.2c1d96bc` t08403 Europe (TippyFlits)

[2020-09-26 07:40] funktafide commented on #79
Daemon:  0.8.0+git.2c1d96bc+api0.16.0
Local: lotus version 0.8.0+git.2c1d96bc
Daemon:  0.8.0+git.2c1d96bc+api0.15.0
Local: lotus-miner version 0.8.0+git.2c1d96bc

t014768

Asia (Singapore)

Slack - Funk

[2020-09-26 08:02] 2019jack commented on #79
t020940 Asia China

[2020-09-26 08:17] vht210 commented on #79
t01277  Europe (Tung)

[2020-09-26 08:29] j1v commented on #79
lotus version `0.8.0+git.2c1d96bc`
miner id : `t020373`
location : `Bulgaria`
slack handle : `j1v`

[2020-09-26 08:49] leviok commented on #79
lotus version `0.8.0+git.2c1d96bc`
miner id: t01782
location: asia
slack handle: leviok

[2020-09-26 08:50] damco70 commented on #79
lotus version 0.8.0+git.2c1d96bc

[2020-09-26 08:53] liuyongmingeth commented on #79
t08264 Asia China

[2020-09-26 09:04] ericnjin commented on #79
lns@lns-TRX40-AORUS-XTREME:~/scripts$ lotus version
Daemon:  0.8.0+git.2c1d96bc.dirty+api0.16.0
Local: lotus version 0.8.0+git.2c1d96bc.dirt

minerID: t020904
location: Asia South Korea-Seoul
slack handle : EricKim

[2020-09-26 09:22] alison-man commented on #79
lotus version 0.8.0+git.2c1d96bc
miner ID : t02619
location : Asia China
slack handle : litianc

[2020-09-26 09:23] Meatball13 commented on #79
lotus version 0.8.0+git.2c1d96bc
minerID: t014409
location: North America
slack handle: Meatball

[2020-09-26 09:46] bagzyBoo commented on #79
lotus version 0.8.0+git.2c1d96bc
miner id:  t019029
location: Europe
slack handle: Ninoslav Barzilovic

[2020-09-26 09:58] clarenous commented on #79
lotus version 0.8.0+git.2c1d96bc
minerID: t015662
location: Asia China
slack handle: Clarence

[2020-09-26 10:02] Reiers commented on #79
**minerID:** t022352
**location:** Asker, Norway
**slack handle:** Reiers

[code]

_- TechHedge_

[2020-09-26 10:15] whyshy commented on #79
lotus version 0.8.0+git.2c1d96bc
MinerID: t03339
Location: Asia (CN)
Slack Handle: hehe

[2020-09-26 10:37] Eliovp commented on #79
- 0.8.0+git.2c1d96bc
- t01234
- Europe
- Pvoile

[2020-09-26 10:47] kikakkz commented on #79
t022111 Asia China

[2020-09-26 11:00] Jason-Cui commented on #79
0.8.0+git.2c1d96bc.dirty
t021337
Asia China
Jason C

[2020-09-26 11:02] Jason-Cui commented on #79
0.8.0+git.2c1d96bc.dirty
t01152
Asia China
Jason C

[2020-09-26 11:03] rjan90 commented on #79
**Lotus Version:** lotus version 0.8.0+git.2c1d96bc
**MinerID:** t08949
**Location:** Oslo, Norway - Europe
**Slack Handle:** Phi-rjan

[2020-09-26 11:07] xueyang commented on #79
Lotus Version: lotus version 0.8.0+git.2c1d96bc
MinerID: t010495
Location: China - Asia
Slack Handle: lssr

[2020-09-26 11:09] JCui-linpole commented on #79
Miner ID: t08091, Lotus version: 0.8.0+git.2c1d96bc.dirty+api0.16.0, Location: China

[2020-09-26 11:14] mingchuantaiwang commented on #79
lotus version 0.8.0+git.2c1d96bc
MinerID：t020358
Location: China - Asia
Slack Handle: delphe

[2020-09-26 11:14] transekvs commented on #79
lotus version: lotus version 0.8.0+git.2c1d96bc
MinerID: t015747
Location: Japan - Asia
Slack Handle: meki

[2020-09-26 11:17] mingchuantaiwang commented on #79
lotus version 0.8.0+git.2c1d96bc
MinerID：t020358
Location: China - Asia
Slack Handle: delphe

[2020-09-26 11:18] wulengbing commented on #79
lotus version 0.8.0+git.2c1d96bc
MinerID：t03328
Location: China - Asia
Slack Handle: kevinyang

[2020-09-26 11:32] kwuaint commented on #79
version 0.8.0+git.904c7f6f

[2020-09-26 11:38] yydfjt commented on #79
t02405, China, Asia

[2020-09-26 12:40] hoomx commented on #79
t08073  China, Asia

[2020-09-26 12:41] kikakkz commented on #79
t7824 China, Asia

[2020-09-26 12:53] gh3990 commented on #79
lotus :  version 0.8.0+git.2c1d96bc.dirty
miner : t010446
Location : Europe, NL
Slack : Angelo

[2020-09-26 13:06] mxz9102 commented on #79
lotus version 0.8.0+git.2c1d96bc
miner : t09848
Location : California, North America
Slack : BigBear

[2020-09-26 13:57] csj202008 commented on #79
lotus version 0.8.0+git.2c1d96bc.dirty
miner: t09589
Location: China, Asia
Slack: hxf1983

[2020-09-26 14:01] ocean-token commented on #79
t07982 China Asia (tim)

[2020-09-26 14:16] rsww-filecoin commented on #79
lotus version 0.8.0+git.2c1d96bc
miner : t02419
location : China - Asia
slack name : rsww

[2020-09-26 14:20] quantumgw commented on #79
t018501 Asia China
lotus version 0.8.0+6block+git.a696dd70.1601114956

[2020-09-26 14:27] ec2 commented on #79
Lotus Version: lotus version 0.8.0+git.2c1d96bc
Miner ID: t01247
Location: North America
Slack Handle: Eric Tu [ChainSafe]

[2020-09-26 14:30] shannon-6block commented on #79
lotus version 0.8.0+6block+git.a696dd70.dirty.1601111661
miner: t01241, t02623, t02514, t02501, t02622, t07850, t03274, t03275, t03273, t05315, t08383, t010241, t010253, t05316, t05317, t09696, t09693
Location: China, Asia
Slack: 6block.com

The lotus version is customized by us and I don't know if it has any influence.

[2020-09-26 14:47] xupeng9 commented on #79
lotus version 0.8.0+6block+git.a696dd70.dirty.1601111661
miner: t02645,t02633,t02415,t07990,t08025,t03491,t018782,t018784,t018781,t018785,t018780,t018783
Location: China, Asia
Slack: Eric G
The lotus version is customized by us and I don't know if it has any influence.

[2020-09-26 14:54] backlight commented on #79
lotus version 0.8.0+6block+git.a696dd70.1601114956
miner:t016594
location:Europe, FL
slack:Hive blockchain

[2020-09-26 14:55] Shekelme commented on #79
Lotus version:

Location: Russian Federation
Slack: Rabinovitch
Miner: t08240

[2020-09-26 14:56] wangquanzhou1987 commented on #79
Daemon:  0.8.0+git.2c1d96bc+api0.16.0
lotus version 0.8.0+git.2c1d96bc
miner:t08937  t07819
Location: China, Asia
Slack: YCWL

[2020-09-26 15:03] 3p2eo2p3 commented on #79
root@Young:~# lotus --version
lotus version 0.8.0+git.2c1d96bc.dirty
(customized)

t015898
Europe

[2020-09-26 15:05] benjaminh83 commented on #79
lotus version 0.8.0+git.2c1d96bc
miner ID : t02576
location : Copenhagen, Denmark, Europe
slack handle : BenjaminH

[2020-09-26 15:11] DxtYan commented on #79
lotus version 0.8.0+git.2c1d96bc
miner ID : t019661
location : Pyatigorsk, Russia
slack handle : dxtyan

[2020-09-26 15:30] skm-cike commented on #79
Daemon:  0.8.0+git.2c1d96bc.dirty+api0.16.0
Local: lotus version 0.8.0+git.2c1d96bc.dirty
miner: t02421 t016563
Location: China, Asia
Slack:  lhk522

[2020-09-26 16:04] troo commented on #79
lotus version 0.8.0+git.2c1d96bc
Location: Russia
Slack: troo
Miner: t019174

[2020-09-26 16:28] NealLiu-Test2 commented on #79
lotus version 0.8.0+git.22da31c9.dirty
Location: Asia China
Slack: Neal
Miner: t02490

The lotus version is customized by us and I don't know if it has any influence

[2020-09-26 17:05] UltraVis commented on #79
lotus version 0.8.0+git.2c1d96bc
Miner ID: t014324
Location: North America
Slack handle:  UltraVis

[2020-09-26 17:15] Jello commented on #79
Daemon:  0.8.0+git.2c1d96bc+api0.16.0
Local: lotus version 0.8.0+git.2c1d96bc
Miner ID: t016056 (weakman)
Location: North America
Slack Handle: Paul

[2020-09-26 17:39] Tracerbullet14 commented on #79
lotus version 0.8.0+git.2c1d96bc
Miner ID: t019279
Location: North America
Slack Handle: TracerBullet

[2020-09-26 18:42] kernelogic commented on #79
Lotus version 0.8.0+git.2c1d96bc
minerID: t010617
Location: North America
Slack: feiya200

[2020-09-27 01:12] bobjiang commented on #79
lotus version
lotus-miner version 0.8.0+git.2c1d96bc

miner id
t015685

location
Shanghai/China

slack
Bob Jiang

[2020-09-27 01:57] PolygonalMonkey commented on #79
lotus version 0.8.0+git.2c1d96bc
miner ID : t022395
location : North America
slack handle : Clos

[2020-09-27 02:36] xueyang commented on #79
Lotus Version: lotus version 0.8.0+git.2c1d96bc
MinerID: t010495
Location: China
Slack Handle: lssr

[2020-09-27 02:49] igdx commented on #79
lotus version 0.8.0+git.2c1d96bc
miner:t010558 t019196
Location: China, Asia
Slack: Ron

[2020-09-27 02:56] coinmini commented on #79
lotus version 0.8.0+git.2c1d96bc
miner: t08157
Location: Europe ,China
Slack: JerseyJerry, renkeju

[2020-09-27 03:02] AthenaPool commented on #79
Hi Filecoin Team, please check the following miners and add them to the recommended miners:
t02614 t09652 Asia
t03362 Europe
t010424 Oceania
Thanks

[2020-09-27 03:25] crystalangie commented on #79
lotus version:0.8.0+git.b22bb528.dirty
miner ID: t019638
location: Singapore, Asia
handle: Crystal Han

[2020-09-27 03:41] hsienfu commented on #79
Miner ID: t020436
Location: Asia China
Slack: iseefoo

[2020-09-27 03:57] s0nik42 commented on #79
lotus version 0.8.0+git.2c1d96bc.dirty
minerid : t010479
Location : France / Europe
Slack : s0nik42

[2020-09-27 04:48] flyworker commented on #79
Miner ID:        t02401
                      t01276
                      t02387
lotus version 0.8.0+git.2c1d96bc
Location : Canada / North America
Slack : Charles Cao - NBFS

[2020-09-27 06:25] callmestu commented on #79
Miner: t016482
lotus-miner version 0.8.0+git.2c1d96bc
Location: USA
Slack: callmestu

[2020-09-27 06:36] maruoshui commented on #79
lotus version 0.8.0+git.2c1d96bc
minerID: t010512
location: Asia China
slack handle: Maruoshui

[2020-09-27 07:09] namoo1 commented on #79
lotus version 0.8.0+git.2c1d96bc
miner id: t03488, t022737
location: asia South korea
slack handle: Meest Nam

[2020-09-27 07:43] dineshshenoy commented on #79
Updated all miners above https://github.com/filecoin-project/slingshot/pull/99

[2020-09-27 07:46] kaoxiang07 commented on #79
lotus version 0.8.0+git.2c1d96bc.dirty
minerID: t03134
location: Asia China
slack handle: William

[2020-09-27 07:48] dineshshenoy opened #100 "Yolo project not showing up in the participants directory"
@momack2 @mosh @Jennifer Hi, our project Yolo's PR(https://github.com/filecoin-project/slingshot/pull/26) has been merged, however, i couldn't find it in the https://github.com/filecoin-project/slingshot/tree/master/participants list, what happened?

[2020-09-27 07:48] dineshshenoy opened #101 "Update miner list with Jim Pick's miners"

[2020-09-27 08:18] cryptowhizzard commented on #79
Local: lotus version 0.8.0+git.2c1d96bc
minerID: t01240
Location: Europe
Slack handle: Wijnand Schouten

[2020-09-27 09:01] yuwenhui commented on #100
So, what happened? is there any mistake?

[2020-09-27 09:42] hengic commented on #79
lotus version 0.8.0+git.2c1d96bc
minerID: t010507
location: Asia China
slack handle: H.J

[2020-09-27 11:18] ffteng46 commented on #79
lotus version 0.8.0+git.2c1d96bca.dirty
miner:t04443
Location: China, Asia
Slack: jjxiaoke

[2020-09-27 11:33] sypro2020 commented on #79
lotus version 0.8.0+git.2c1d96bc.dirty
miner:t03624
Location: Europe Germany
Slack: Sonne

[2020-09-27 12:22] superlone commented on #79
lotus version 0.8.0+git.2c1d96bc.dirty
minerID: t08474
location: Asia China
slack handle: lone

[2020-09-27 12:25] sypro2020 commented on #79
你好，

你给我发邮件干啥？

Am 27. September 2020 um 14:22:55 +02:00, hat superlone <notifications@github.com> geschrieben:

[2020-09-27 12:39] superlone commented on #79
lotus version 0.8.0+git.2c1d96bc.dirty
 minerID: t08474
 location: Asia China
 slack handle: lone

[2020-09-27 12:51] Jason-Cui commented on #79
0.8.0+git.2c1d96bc.dirty
t022832
Asia China
Jason C

[2020-09-27 12:54] iverytang commented on #79
lotus version 0.8.0+git.2c1d96bc
miner ID: t09569
location: China, Asia
slack handle: jjxx

[2020-09-27 12:58] jjxx2021 commented on #79
lotus version 0.8.0+git.2c1d96bc
miner ID : t09569
location : Asia China
slack handle : jjxx

[2020-09-27 16:36] igowreck commented on #79
Daemon:  0.8.0+git.2c1d96bc+api0.16.0
Local: lotus version 0.8.0+git.2c1d96bc
miner ID : t03224, t015941, t02423
location : Europe, Ukraine, Kyiv
slack handle : igowreck

[2020-09-27 23:24] rshellnet opened #117 "t020352 Europe Moscow"
Please add t020352 Europe Moscow

[2020-09-28 02:02] monkey262507 commented on #79
t010035  t021255  Asia China

[2020-09-28 02:28] jennijuju opened #119 "[For Storage Miners] Bad actor list suggested by community members"
This is suggested by Chris, Reiers and Meatball from Filecoin slack. The purpose of this ticket is to have a place that holds a list of bad actors that are suggested by the community members, and storage miners can refer to for configuring their deal filter.

**Disclaimer: Any claim in this ticket is not/will not be verified by the official Filecoin team! Please use your own judgement for your fil

[2020-09-28 03:14] flyworker commented on #119
Message: adding market funds failed: resolve address t3qkxap3won44eupavf6kuggy5v5j24bkql5atn2iyqmd4ifqmjtemslvcakkgm7gcvf6e2hwfxjjio6zna7uq: actor not found
...yek3afrm  0       t019437   StorageDealError         N                N            ...l5oepkfa  127 KiB    0.00000006353413911 FIL   1040946
  Message: adding market funds failed: resolve address t3qkxap3won44eupavf6kuggy5v5j24bkql5atn2iyqm

[2020-09-28 05:00] dineshshenoy commented on #79
Moved from: https://github.com/filecoin-project/slingshot/issues/117

Please add t020352 Europe Moscow

[2020-09-28 05:03] dineshshenoy commented on #117
Moved to #79

[2020-09-28 05:03] #117 closed

[2020-09-28 05:04] dineshshenoy commented on #79
Updated above miners at: https://github.com/filecoin-project/slingshot/pull/120

[2020-09-28 05:12] aimkiray commented on #79
lotus version 0.8.0+git.05f947393
minerID: t022038
location: Asia China

[2020-09-28 05:30] flyworker commented on #79
Miner ID: **t02401**
lotus version 0.8.0+git.2c1d96bc
Location : Canada / North America
Slack : Charles Cao - NBFS

[2020-09-28 08:52] crystalangie commented on #79
lotus version:0.8.0+git.b22bb528.dirty
miner ID: t03363
location: Singapore, Asia
handle: Crystal Han

[2020-09-28 11:27] cerblue commented on #79
Lotus version: 0.8.0+git.2c1d96bc.dirty+api0.16.0
Miner ID: t010088
Location: USA
Slack: Kltaway

[2020-09-28 15:00] dayou5168 commented on #79
lotus version 0.8.0+git.2c1d96bc
miner ID : t02775 t02770 t02767
location : china
slack handle : barry
slack handle : jerry
slack handle : da-you

[2020-09-28 16:22] dineshshenoy commented on #100
https://github.com/filecoin-project/slingshot/pull/127

[2020-09-28 16:22] #100 closed

[2020-09-28 19:19] dineshshenoy commented on #68
Updated to 1 review and revised community review process.

[2020-09-28 19:19] #68 closed

[2020-09-28 20:10] NSC-FIL commented on #79
Lotus version 0.8.0+git.2c1d96bc
Miner ID: t022142
Location: New York / North America
Slack Handle: Nelson

[2020-09-28 20:10] dineshshenoy commented on #49
https://github.com/filecoin-project/slingshot/pull/129

[2020-09-28 20:10] #49 closed

[2020-09-28 20:11] dineshshenoy commented on #47
https://github.com/filecoin-project/slingshot/pull/129

[2020-09-28 20:11] #47 closed

[2020-09-28 20:39] dineshshenoy opened #130 "Ask for registratoin number in participant application PR"

[2020-09-28 22:19] dineshshenoy opened #131 "Add instructions on how to get added to Leaderboard"
Add a note to the slingshot README about how miners can get added to the list? It says elig criteria right now, but not steps to be added. Thanks!

[2020-09-29 00:21] dineshshenoy commented on #79
t022142 Nelson North America

[2020-09-29 00:50] #130 closed

[2020-09-29 00:50] #131 closed

[2020-09-29 01:03] yangjian102621 commented on #79
MinerID: t09620,t09675
Location: Asia (CN)
Slack Handle: RockYang

[2020-09-29 09:49] h1tthat commented on #79
lotus version 0.8.0+git.2c1d96bc
miner ID: t022405
Location: Europe Moscow
Slack Handle: Oleg Kaizen

[2020-09-29 13:17] Reiers commented on #119
**Address:** t1tpj5gm2i3jcbarmhvxsmpp3he4hbrngrtbf54eq
**Problem:** Stuck in StorageDealTransferring
**Size:** 1GiB

_Maybe not a bad actor. But this address have been reported by at least 4 miners with the same problem._

[2020-09-29 15:29] cwhiggins commented on #119
This is also the only t1 address that I have seen being used. Does it matter?

[2020-09-29 21:40] orvn opened #170 "Applicant (IPFS-scholar) orphaned outside of subdirectory"
An application,`IPFS-scholar.md`, was [accidentally merged into](https://github.com/filecoin-project/slingshot/commit/ec6d4b60a40fa14c7df348e1d9df0eea951a3b32) the root of the repository. Instead of being correctly nested in `/participants/`.

[2020-09-29 23:31] livspect commented on #79
Lotus Version: 0.8.0+git.b84cc46c
Miner ID: t020771
Location: Asia Japan
Slack: livspect

[2020-09-30 03:28] rjan90 commented on #79
Lotus Version: lotus version 0.8.0+git.2c1d96bc
MinerID: t023467
Location: Oslo, Norway - Europe
Slack Handle: Phi-rjan

[2020-09-30 04:43] ocean-token commented on #79
t023229 Asia China

[2020-09-30 05:41] dineshshenoy commented on #79
All miners above have been merged.  https://github.com/filecoin-project/slingshot/pull/173

[2020-09-30 05:42] dineshshenoy commented on #170
Thanks for catching.  Fixed as part of: https://github.com/filecoin-project/slingshot/pull/173

[2020-09-30 05:42] #170 closed

[2020-09-30 07:50] wqz8791 commented on #79
lotus version :
Daemon:  0.8.0+git.bc85e3ce+api0.16.0
Local: lotus version 0.8.0+git.bc85e3ce
MinerID: t023202
Location: Asia (wuxi China)
Slack Handle: YCWL

[2020-09-30 11:25] std commented on #79
lotus version 0.8.0+git.2c1d96bc
miner ID: t08285
Location: Europe Latvia
Slack Handle: stander

[2020-09-30 18:53] sdm101 commented on #79
lotus version 0.8.0+git.6025bcea
miner ID: t023586
Location North America
Slack Handle: Brian Y

[2020-09-30 20:03] dineshshenoy opened #182 "Add more curated datasets from China"
We've heard from the community that retrieving large datasets across borders can be time-consuming due to bandwidth and throttling considerations.

We'd like to expand our current dataset list (https://github.com/filecoin-project/slingshot/blob/master/datasets.md with some datasets from China that are useful and preferably sizeable to add to the richness of the Filecoin storage network.

Feel free

[2020-10-01 06:11] dineshshenoy commented on #79
Miners above added:  https://github.com/filecoin-project/slingshot/pull/189

[2020-10-01 19:27] mattac21 commented on #79
lotus version: v0.8.1
miner ID: t02540
Location: North America
Slack Handle: there

[2020-10-02 00:11] namoo-cloud commented on #79
t03488 now repairing. I will back soon. Thx.

[2020-10-02 00:22] Storage-Hive commented on #79
lotus version 0.8.1+git.60d442e3
Miner: t010438
Location: North America
Slack: StorageHive

[2020-10-02 02:07] coinmini commented on #79
lotus version 0.8.0+git.2c1d96bc
miner ID: t08157
Location: Europe,China
Slack Handle: JerseyJerry, renkeju

[2020-10-02 02:45] boramida commented on #79
Now repiar Miner t03488 and t022737

[2020-10-02 03:03] hxg8202 commented on #79
lotus version 0.8.0+git.2c1d96bc
miner id: t010254
location: asia japan
slack handle: anglebaby

[2020-10-02 13:07] 8hfq commented on #79
lotus version 0.8.0+git.2c1d96bc
miner id: t015877   t023678
location: Asia China
slack handle: 8HFQ

[2020-10-02 13:26] ncgege commented on #79
lotus version Daemon:  0.8.1+git.60d442e3.dirty+api0.16.0
miner ID: t022566
Location: China
Slack Handle: ncgege

[2020-10-02 14:11] sdm101 commented on #79
lotus version 0.8.0+git.2c1d96bc
miner ID: t023826
Location: North America
Slack Handle: Brian Y (testing out another mining machine w/ new miner)

[2020-10-02 17:02] jennijuju opened #198 "[For Clients] "Bad" miner list suggested by community members"
The purpose of this ticket is to have a place that holds a list of bad miners(not accepting deals, node has long down time..) that are suggested by the community members, and clients
can refer to this to decide the miner they want to have the deal with.

Disclaimer: Any claim in this ticket is not/will not be verified by the official Filecoin team! Please use your own judgement when you chose your

[2020-10-03 15:35] sdm101 commented on #79
lotus version 0.8.1+git.4631cee5
miner id: t023971
Location: North America
Slack Handle: Brian Y (initialized new miner to test different configuration).

[2020-10-03 19:21] yuyuyun01 commented on #79
lotus version 0.8.1+git.60d442e3.dirty
miner id: t024070
Location: Japan
Slack Handle: ychikn

[2020-10-04 00:11] axzmin commented on #79
Lotus Version: 0.8.1+git.1ebad94d
Miner ID: t010399
Location: Asia China
Slack: axzmin

[2020-10-05 04:03] Yarkin commented on #79
Lotus Version: 0.8.0
Miner ID: t02301
Location: North America
Slack: justin

[2020-10-05 04:03] Yarkin commented on #79
Lotus Version: 0.8.0
Miner ID: t03223
Location: North America
Slack: justin

[2020-10-05 04:28] planbfilecoin commented on #79
lotus version 0.8.1
miner ID t024150
location Europe
slack planB

[2020-10-05 05:36] dineshshenoy commented on #79
Above updated with https://github.com/filecoin-project/slingshot/pull/211

[2020-10-06 18:05] kenshyx commented on #79
lotus version 0.8.1+git.2bf42d531
Miner: f022163
Location: Europe
Slack: @Marius

[2020-10-07 03:22] DenysSuccess commented on #79
lotus version 0.8.1+git.60d442e3
Miner: t023490
Location: Europe
Slack: Dennis

[2020-10-08 06:08] LutherSun commented on #79
lotus version 0.8.0+git.2c1d96bca
Miner: t010010
Location: Asia China
Slack: LutherSun(U01480QEWQ5)

[2020-10-08 06:32] ocean-token commented on #79
t025025 Asia China

[2020-10-09 04:18] dineshshenoy commented on #79
Updated miners with f prefix.  https://github.com/filecoin-project/slingshot/pull/240

[2020-10-09 08:53] wqz8791 commented on #79
lotus version:
Daemon:  0.9.0+git.8f35a5c0+api0.16.0
Local: lotus version 0.9.0+git.8f35a5c0
Miner: f029556
Location: Asia China  Wuxi

[2020-10-10 05:12] coinmini commented on #79
lotus version: 0.9.0+git.8f35a5c0
Miner: f08157
Location:  Asia, Europe

[2020-10-10 05:14] liuyongmingeth commented on #79
lotus version: 0.9.0+git.8f35a5c0
Miner: f08264
Location: Asia, china

[2020-10-12 02:58] namoo-cloud commented on #79
Daemon:  0.9.0+git.8f35a5c03+api0.15.0
Local: lotus-miner version 0.9.0+git.8f35a5c03
Miner: f03488
Location: South korea

[2020-10-12 04:17] wqz8791 commented on #79
lotus version:
Daemon:  0.9.1+git.40b2e2d0+api0.16.0
Local: lotus version 0.9.1+git.40b2e2d0
Miner: f07819
Location: Asia China Wuxi

[2020-10-12 13:26] PINBYTES commented on #79
lotus version: 09.9.1+git.651522cb
Miner : t025007
Location : Seoul, Korea

[2020-10-12 13:28] PINBYTES commented on #79
lotus version: 0.9.1+git.651522cb
Miner : t025007
Location : Seoul, Korea

[2020-10-12 13:30] PINBYTES commented on #79
lotus version: 0.9.1+git.651522cb
Miner: t025007
Location: Seoul, Korea

[2020-10-12 15:10] coinmini commented on #79
lotus version: 0.10.0+git.a6b21807
Miner: f08157
Location: Asia

[2020-10-12 16:44] livspect commented on #79
lotus version: 0.10.0+git.443131b2
Miner: f032835
Location: Japan

[2020-10-12 16:56] dineshshenoy commented on #79
Updated above with PR:  #267

[2020-10-12 23:27] sdm101 commented on #79
lotus version: 0.10.0+git.65883cbb
Miner: f023971
Location: North America

[2020-10-14 04:11] wqz8791 commented on #79
lotus version:
Daemon:  0.10.0+git.9c6ee802c+api0.16.0
Local: lotus version 0.10.0+git.9c6ee802c
Miner: f033113
Location: WuXI , China , Asia

[2020-10-14 16:37] dineshshenoy commented on #79
Updated above with PR: https://github.com/filecoin-project/slingshot/pull/290

[2020-10-16 07:05] wqz8791 commented on #79
lotus version:
Daemon:  0.10.2+git.0775c6c9d+api0.17.0
Local: lotus version 0.10.2+git.0775c6c9d
MinerID：f07819  f033113  f033091  f034216  f039712
Location:  WuXi  China - Asia
Slack Handle:YCWL

[2020-10-19 15:03] neondragon commented on #79
lotus version: 0.10.1+git.41bfeb56e
Miner: f019551
Location: Europe (United Kingdom)
Slack: Neonix AF

[2020-10-20 05:23] dineshshenoy commented on #79
Updated above with PR #329

[2020-10-20 16:18] aimkiray commented on #79
Lotus Version: 0.10.0
Miner ID: f034047
Location: Asia China
Slack: fox

[2020-10-21 19:45] #101 closed

[2020-10-22 04:16] dineshshenoy commented on #79
Updated above with PR #342

[2020-10-22 21:19] mattac21 commented on #79
Lotus Version: v1.1.0
Miner ID: f02540
Location: North America
Slack: there

[2020-10-24 08:21] powerboy11 commented on #79
Lotus Version: v1.1.0
Miner ID: f049882
Location: Europe
Slack: Ducktales

[2020-10-24 21:57] rovdi commented on #79
Miner ID: f040173
Location: Ukraine
Slack: Wolanski

[2020-10-25 22:42] dineshshenoy commented on #79
Updated above with PR #346

[2020-10-25 22:43] dineshshenoy commented on #79
No longer being updated since Slingshot Phase 1 is complete.   There are other public resources such as [Codefi](https://www.storage.codefi.network/) and others which can help find reputable and affordable miners.

[2020-10-25 22:43] #79 closed

[2020-10-26 19:00] dchoi27 opened #348 "[Phase 2] Interested in Slingshot Phase 2? Comment here with your contact details!"
Hi! We are currently getting ready to finalize details about Slingshot Phase 2. These will be ready by early to mid November.

In the meantime, if you are interested, please review [this Slack announcement](https://filecoinproject.slack.com/archives/C01AK1J7TF1/p1603738868285700) and comment below with your Filecoin Slack handle and/or Phase 1 project submission ID (if applicable)

[2020-10-27 08:37] Q-Action commented on #348
Submission ID: 678911992

[2020-10-27 08:51] liyunzhi-666 commented on #348
project name: Starry Sky in Yunnan
Submission ID: 667718849
Slack handle: Patrick-li

[2020-10-27 08:52] liyunzhi-666 commented on #348
project name: Filecoin-Crawl 
Submission ID: 667706600
Slack handle: Patrick-li

[2020-10-27 12:48] yuwenhui commented on #348
project name: Yolo
Submission ID: 666165170
Slack handle: Max

[2020-10-28 06:36] koda9-inc commented on #348
Project Name: Robotic Dog Data Collecting

[2020-10-28 06:42] yongxi-liu commented on #348
Project Name: Filbox
sumission ID: 667174272
Slack Handle: kimmy.w ；leo.r

[2020-10-29 00:24] ffteng47 commented on #348
Project Name: FortuneCode
sumission ID: 667519588
Slack Handle: jerrify

[2020-10-30 05:02] CDYulinChen commented on #348
Project Name: Smartcity
sumission ID: 672747283
Slack Handle: klsmlzm

[2020-10-30 05:03] CDYulinChen commented on #348
Project Name: Medical Image Cloud System
sumission ID: 670234252
Slack Handle: klsmlzm

[2020-11-02 23:14] dineshshenoy opened #353 "Create Lotus Release Checklist"
https://docs.google.com/document/d/1411_inv17hMZpxhXn_3e5k13AKqdpmPmSh3DGyxgP7E/edit#

[2020-11-02 23:15] dineshshenoy opened #354 "Propose Support Model"
https://docs.google.com/document/d/1lNlY8ZFxImw1fy86B3wmA4hPzlfI92vvbBh2-PhydWA/edit#

[2020-11-02 23:16] #353 closed

[2020-11-02 23:16] #354 closed

[2020-11-02 23:17] #84 closed

[2020-11-02 23:31] priom commented on #348
Project Name: ChainSafe Files
Submission ID: 673803650
Slack Handle: priom

[2020-11-09 13:52] orvn opened #357 "A project (参加者) is incorrectly nested in the root of the repo"
A project, [参加者, is not nested](https://github.com/filecoin-project/slingshot/commits/master/%E5%8F%82%E5%8A%A0%E8%80%85) in the`participants` directory.

(Just mentioning this for house keeping's sake)

[2020-11-16 08:32] joeylee3548 commented on #348
Slack handle : joeylee

[2020-11-17 05:19] koda9-inc commented on #348
Project name: KodaRobotDog
Submission ID:672993312)
Slack Handle: koda9-inc

[2020-11-18 01:59] guowenshuai commented on #348
Project Name: datamain
Submission ID: 668425487
Slack Handle: simon

[2020-11-18 02:00] guowenshuai commented on #348
Project Name: lookiso
Submission ID: 681114360
Slack Handle: simon

[2020-11-19 05:41] Filecoin-ypool commented on #348
Project Name: cloudEyes
Submission ID: 667094906
Slack Handle: huangdongjin

[2020-12-07 07:38] ipfs-weraveyou opened #388 "Request to add own data set to curated list"
Dataset Name: We Rave You
Description: List of videos from artists and curators from the We Rave You community
File type: MP4
Size: n/a
URL: https://weraveyou.com

Please check if this is correct - [WeRaveYou-dataset.xlsx](https://github.com/filecoin-project/slingshot/files/5651114/WeRaveYou-dataset.xlsx)

@dineshshenoy

[2020-12-10 01:11] xingjitansuo opened #389 "Add a own smartcity's dataset to curated list for Phase 2 of SR2."
Dataset Name: Smartcity Audio Dataset
Description:  List the audios from collected by fiber optic sensor in our city!
File type: WAV
Size: above 30T
URL: http://api.sr2.glm2m.com/index.php?r=smartcity-dataset/index

Please check if this is correct , thank you!

@dineshshenoy

[2020-12-10 11:47] Icarus9913 opened #393 "Add iso datasets from tsinghua university open source."
Name: tsinghua source Dataset
Descriptions: tsinghua university Open Source Mirror Station
Size: /
Format: iso
URL: https://mirrors.tuna.tsinghua.edu.cn/

[2020-12-22 02:21] abusemydnac opened #402 "ZINC Database is a single dataset that I can use to create a single project."
ZINC Database is a single dataset that I can use to create a single project.
here is the AWS S3 Bukets: https://github.com/awslabs/open-data-registry/blob/master/datasets/zinc15.yaml
i have download all the list of this dataset , it is greate data for Molecular research.

`2020-07-20 03:07:36   92.0 KiB tranches/xiaobo/pattern5/pattern5-400-500-2/x/xhkd.db2.gz
2020-07-20 03:07:36   27.2 KiB tranch

[2020-12-22 02:36] gayeley opened #403 "Add Dataset [UK Biobank Pan-Ancestry Summary Statistics] [75.2Tib]"
Dataset info: https://github.com/awslabs/open-data-registry/blob/master/datasets/broad-pan-ukb.yaml
I would like to use this dataset to apply for a project.

[2020-12-22 02:42] gayeley opened #404 "Add Dataset [Genome Aggregation Database][35.7 TiB]"
Dataset info : https://github.com/awslabs/open-data-registry/blob/master/datasets/broad-gnomad.yaml
Name: UK Biobank Pan-Ancestry Summary Statistics
Description: A multi-ancestry analysis of 7,221 phenotypes using a generalized mixed model association testing framework, spanning 16,119 genome-wide association studies. We provide standard meta-analysis across all populations and with a leave-one-po

[2020-12-24 01:23] abusemydnac opened #407 "I could n't find [3000 Rice Genomes Project] on the Website:https://slingshot.filecoin.io/"
![image](https://user-images.githubusercontent.com/38799400/103048488-b86fa680-45c9-11eb-8dde-2cfd1f912b88.png)

[2020-12-30 13:07] taohubama opened #408 "Add movies in various formats"
Name: Blu ray film
Descriptions:  HD movies in various formats
Size：/
 URL:   http://www.languangdy.com/
 URL:   http://www.yinfans.me/
  I would like to use this dataset to apply for a project.

[2021-01-04 07:43] moonlight233 opened #409 "Encyclopedia"
Encyclopedia is very important to search.

[2021-01-05 06:54] #407 closed

[2021-01-06 05:45] #402 closed

[2021-01-07 03:14] Haoahao233 opened #410 "Add Dataset [Open Source Software Mirror Station of Beijing Foreign Studies University][80.2 TiB]"
Dataset info : https://mirrors.bfsu.edu.cn/#
Name: Open Source Software Mirror Station of Beijing Foreign Studies University
Description: The open source software image station of Beijing Foreign Studies University is dedicated to providing high-quality open source software image and Linux image source services for domestic and campus users, so as to help users obtain open source software more eas

[2021-01-16 22:21] s0nik42 opened #413 "https://freerainbowtables.com/"
Could you please add https://freerainbowtables.com/ to the currated list.

This is one of the most  valuable free rainbow table project.

Thank you

[2021-01-18 03:24] jackeyprince opened #414 "DataStoneCloud-Intelligent video solution Surveillance video DataSets"
DataStoneCloud-Intelligent video solution  Base On Filecoin/IPFS.  The intelligent video solution is specially designed to meet the requirements for storage of the data from PB to EB-level video surveillance. The system can have its performance increase linearly with the increase of its capacity, able to maintain a smooth cost for capacity expansion, lower the cost for operation and maintenance ma

[2021-01-19 06:52] s0nik42 commented on #413
Hi @dchoi27 could you add it ?

Thank you for your support

Julien

[2021-02-01 18:09] s0nik42 commented on #413
Added thank you

[2021-02-01 18:09] #413 closed

[2021-02-06 05:26] kernelogic opened #428 "[rule proposal] Geographically separate reward pool"
Phase 2.3 gonna remove the limit of self-dealing, making it essentially a competition of miners - it will be very similar to space race. I propose separate reward pool like spacerace so that people outside of Asia continent can have a chance to participate.

[2021-02-06 18:34] KaptinLin opened #429 "[rule proposal] Limit a team to a maximum of 5% rewards"
To ensure Slingshot achieves the competition's [goals](https://slingshot.filecoin.io/about)
`Preserve humanity's most important datasets on the Filecoin network. It has always been Filecoin's mission to serve as the foundation for humanity's information. With Slingshot, we are really excited to work with teams who are energized by that same mission so that, together, we can make this vision a real

[2021-02-06 18:37] KaptinLin commented on #428
We don't know where slingshotter comes from. There is no verification mechanism such as ip to verify them.

[2021-02-06 20:07] kernelogic commented on #428
Provide personal ID or company ID to demonstrate where you are from. a KYC.

[2021-02-06 20:25] vht210 commented on #428
I also don't agree with separate geographically rewards pool. Yes data distributed globally to have higher score is better choice

[2021-02-06 20:46] vht210 opened #430 "[rule proposal] Extra bonus for adding UI and API"
## Problem
Most of data once retrieving will be difficult to use if there are no example or showcase.

## Proposed Solution
Give extra bonus (rewards*1.1) for people/team who take extra effort to present the data on UI and API.
Also team will spend more time on preprocessing data more usable.

[2021-02-06 21:05] vht210 opened #431 "[rule proposal] Rewards based on both data store and retrieval success rate"
## Problem
Goal: 100% retrieval success rate
Rewards: Total data store
## Proposed Solution
Rewards should equal to Total_data_store*retrieval_success_rate/100
By enforce this, developer will focus on testing and selecting miners.
The final documentation should also contain  the result of testing retrievals data

[2021-02-06 21:38] kernelogic commented on #428
Really? If you look at the deals from the top 10 projects, they are centralized in China.

[2021-02-06 22:24] vht210 commented on #428
I think even top 20, but still you can not just divide based on the current situation/result..need to have better justification.

[2021-02-06 23:18] kernelogic opened #432 "[rule proposal] Bring back the mandatory presentation from the top 10 projects at the closing ceremony."
Many of the top projects are from the same "filhub" organization - and are they really belong to different teams or is it one team? The presentation can at least let us know who they are and indeed are different people.

[2021-02-07 01:31] KaptinLin commented on #432
I have contacted several projects introduced by filhub, they come from different regions. Similar to the service provided by filswan, I don’t think all the projects on filswan are from the same team.

[2021-02-07 02:10] Huang-HU commented on #432
Thanks to Filhub's help,
We can participate in the SR2.2 competition.
Willing to do a presentation in the closing celebration.

[2021-02-07 02:29] qexcsd222 opened #433 "[rule proposal] all files in source (MD5SUMS) should be submitted ."
## Problem
We need to consider how Web3 App will integrate with [**slingshot datasets**](https://github.com/filecoin-project/slingshot/blob/master/datasets.md) in the future.
## Proposed Solution
new cid [CSV ](https://docs.google.com/spreadsheets/d/1xcI3XVwrH0cuVaQfEPPA06Csm1jJB3NNtlRqgDLMSOg/edit?usp=sharing) example template (PS: better way is to open up an API to submit it ) :
addition  column

[2021-02-07 04:12] flyworker opened #434 "[rule proposal] CDN in each region for data trasfer cross continent"
_Do you have an idea for how to ensure Slingshot achieves the competition's [goals](https://slingshot.filecoin.io/about)?
In order to let the data can be retrieval globally from any place, the first step is transferring the original data to global content delivery network.Then the miners in different region can seal it.

## Problem
Teams in different region complaints about transfer between North

[2021-02-08 02:14] xinaxu commented on #433
Is it the MD5 of the original file or the car file. What if the car file contains multiple objects.

[2021-02-08 02:19] xinaxu commented on #431
The retrieval success rate is related to where the committee performs the retrieval. So if the retrieval tests are performed in one region, it is unfair to slingshotter who stores data in another region. A potential solution is to have the slingshotter mark the region of the miner so the committee can setup retrieval tests from different regions.

[2021-02-08 02:33] xinaxu opened #436 "[rule proposal] More transparent and helpful competition result"
## Problem
1. The slingshot slack community is having intense debate on the fairness of the competition result. Participants often feel unfair about the penalty incurred to them or the penalty that they believe should be imposed to others.
2. Participants also want to learn about how they may improve in the next phase, for one example, how successful is the retrieval test. It is quite common that

[2021-02-08 02:38] xinaxu commented on #430
One hard problem is whether the reward should depend on the quality of the UI/API design. You can have an easy UI just to display the slingshot csv as a table in static HTML.
I would change this proposal to provide a flat bonus for UI/API since the effort needed is regardless of the deals stored.

[2021-02-08 08:03] qexcsd222 commented on #433
[Md5sum Doc](https://en.wikipedia.org/wiki/Md5sum)

[2021-02-13 08:05] peterVG opened #439 "We need a solution for small file datasets - min size deals are 32 GiB"
## Problem
Some Slingshot datasets like the Open Images dataset, contain many small files of just a few Megabytes each. These can be bundled into larger packages but anything bigger than 1 GiB creates a retrievability/usability issue. Future end user apps will not want to have to download 32GiB+ packages to get to a few 1 MB files.

Deal batching has been proposed as a solution: https://github.com

[2021-02-13 08:05] peterVG opened #440 "We need a solution for small file datasets - min size deals are 32 GiB"
## Problem
Some Slingshot datasets like the Open Images dataset, contain many small files of just a few Megabytes each. These can be bundled into larger packages but anything bigger than 1 GiB creates a retrievability/usability issue. Future end user apps will not want to have to download 32GiB+ packages to get to a few 1 MB files. This will be true beyond Slingshot as well for developers wanting

[2021-02-13 08:10] peterVG commented on #439
This isn't really a "rules-suggestion" but the issue got this label by default. It should be changed to a "discussion" label but I don't seem to have edit authority to do so.

[2021-02-13 17:30] cwhiggins commented on #439
https://github.com/ipld/specs/blob/master/schemas/introduction.md#a-quick-ipld-primer
Here is a Link for anyone interested in a IPLD primer.

[2021-02-22 23:22] orvn opened #441 "[rule proposal] Limit or track changes to project names"
### Problem

- Currently on the Slingshot website, there's no limitation to how many times a user can change their project's information
- Most project info is fine to change, but one field that creates confusion is the **project name**
- Because we're not tracking these, it is sometimes difficult to follow a project's participation over multiple phases (e.g., if it went by a different name, it is

[2021-02-28 13:36] EpiK-Tech opened #442 "[rule proposal] Add new curated dataset"
## Problem
[EpiK Protocol](epik-protocol.io) focuses on converting human knowledge into knowledge graph. We want to join Filecoin Slingshot and submit knowledge graph dataset. But we cannot find the knowledge graph dataset type.

## Proposed Solution
Slingshot could add a new curated dataset type named "knowledge graph dataset".

[2021-03-04 00:55] gayeley opened #443 "[Change Email] Slingshot 2.2 - IPFSCrawldata"
My old email:gayeley@163.com can't reach prizes@protocol.ai
I have changed my email address to Gmail (gayeley121@gmail.com) in slingshot,
and resend my information to you (prizes@protocol.ai).

[2021-03-08 15:55] pooja commented on #428
Hey folks, thanks for submitting this rule proposal. As we learned from Space Race 1, there isn't a great way to verify geographic location of a participant. IPs are easy to spoof, and having to validate other information such as company registration information is also not 100% reliable (relatively easy to forge documents) and creates an unreasonable overhead burden on Slingshot admins. And lastl

[2021-03-08 15:55] #428 closed

[2021-03-08 16:16] pooja commented on #433
Thanks for the suggestion @qexcsd222. I'm not sure what problem this is trying to solve exactly. While I agree that an API would be nice for submission purposes, the current submission method works ok and we're not going to be able to make that change in time for Slingshot 2.3. Closing this issue out for now.

[2021-03-08 16:16] #433 closed

[2021-03-08 16:17] pooja commented on #434
Thanks @flyworker -- this doesn't seem like a rule proposal for Slingshot, but rather a grant proposal. If you haven't already, please consider submitting a dev grant proposal/application here: https://github.com/filecoin-project/devgrants (more info: grants.filecoin.io).

[2021-03-08 16:17] #434 closed

[2021-03-08 16:20] pooja commented on #436
This isn't a rule proposal, but it is a helpful suggestion. We'll consider what information to make available for Slingshot 2.3 final results, and try to make as much information available as possible. We will most likely introduce robust retrieval testing in this round, so at the very least, that information will be made available for Slingshot 2.3 judging.

[2021-03-08 16:27] pooja commented on #440
Thanks for creating this issue @peterVG! Flagging this for @raulk @hannahhoward @rvagg @jnthnvctr to take a look at as well.

[2021-03-08 16:29] pooja commented on #441
Thanks for the suggestion @orvn! I think we should implement #2 -- do you need any help from us to make that change? We can happily include a message about that in the Slingshot website FAQs

[2021-03-08 16:31] pooja commented on #442
Hi @EpiK-Tech, can you please submit the link for this dataset? The hyperlink in the issue doesn't work

[2021-03-08 16:31] pooja commented on #443
@orvn Could you please help to make this change if you haven't already? Thanks!

[2021-03-08 16:35] pooja commented on #432
Thanks @kernelogic -- I think this is a good idea to bring back. For Slingshot 2.3 closing ceremony, we can reintroduce demo time for the top 10 projects! However, it's not fair for just the top 10 projects to have to produce these demo videos, so we'll make it a requirement for all projects.

These demos can include showing how the data for this project was processed by processing a sample file a

[2021-03-08 16:46] pooja commented on #431
Thanks for the suggestion @vht210! We'll definitely be introducing retrieval success rate as a component of final rewards. While we're still finalizing how exactly this will work, we can publish some more information about this in the next couple weeks. I think @xinaxu brings up a good point regarding retrieval region and one idea is to have participants upload miner region for each deal as part o

[2021-03-08 17:13] pooja commented on #430
This is a great suggestion, and actually one that should be a requirement for all teams. It's necessary to maintain a searchable UI with the relevant information in order for the data to actually be usable since the Slingshot website is not intended to be the long-term index for data that has been stored.

[2021-03-08 17:18] pooja commented on #429
Thanks for the suggestion @KaptinLin! I understand the spirit of where this is coming from, but I think there are unintended consequences to what you're suggesting. If we limit 5% rewards per dataset, this means that we'll end up with a lot of partial datasets on Filecoin, which is not what we want with Slingshot. It's also impossible to enforce a rule that tries to limit 5% rewards per team (it's

[2021-03-08 17:18] #429 closed

[2021-03-09 08:39] kernelogic opened #444 "[Clarification needed] Slingshot website deals list page Payload CID"
On slingshot website this deal's Payload CID starts with "bafy", however the same deal when I view on filecoin.tools it shows PayloadCID starts with "mAXC". Which one is correct? I feel slingshot website may confused PayloadCID with DataCID.

![image](https://user-images.githubusercontent.com/3711825/110441991-3db61380-806f-11eb-9a72-a12152c75a35.png)

[2021-03-09 08:49] #444 closed, assigned to nobody

[2021-03-10 20:30] orvn commented on #443
@pooja this has been completed and the email was successfully changed. I verified the information with `pkim` on the prizes team. Closing ticket.

[2021-03-10 20:30] #443 closed

[2021-03-10 20:31] orvn commented on #442
@pooja the link above was malformed, here is the corrected version: [epik-protocol.io](https://epik-protocol.io)

[2021-03-10 20:37] #441 closed

[2021-03-13 21:40] pooja commented on #442
@EpiK-Tech this doesn't look like a public dataset. Where is the download link that anyone can use to download and store the same data for Slingshot? If it isn't fully public, it's not a good fit for Slingshot.

[2021-03-13 21:40] pooja commented on #432
We'll close this issue for now, since we'll be implementing this for Slingshot 2.3 judging for all teams

[2021-03-13 21:40] #432 closed

[2021-03-13 21:41] pooja commented on #430
We'll close this issue for now, since we'll be implementing a version of this for Slingshot 2.3 judging for all teams

[2021-03-13 21:41] #430 closed

[2021-03-13 21:41] pooja commented on #431
We'll close this issue for now, since we'll be implementing a version of this for Slingshot 2.3

[2021-03-13 21:41] #431 closed

[2021-03-13 21:41] pooja commented on #119
This issue is now quite outdated, so we'll be closing it, but please reopen or create a new issue if needed

[2021-03-13 21:41] #119 closed

[2021-03-13 21:44] #182 closed

[2021-03-13 21:46] pooja commented on #198
We're building this into the judging directly in Slingshot 2.3!

[2021-03-13 21:46] #198 closed

[2021-03-13 21:46] pooja commented on #348
Slingshot 2 is now well underway! Closing this issue

[2021-03-13 21:46] #348 closed

[2021-03-13 21:46] pooja commented on #357
@orvn Is it ok for us to close this issue?

[2021-03-13 21:47] pooja commented on #388
We're closing this issue since it's been many months, but please reopen if desired

[2021-03-13 21:47] #388 closed

[2021-03-13 21:47] pooja commented on #389
We're closing this issue since it's been many months, but please reopen if desired

[2021-03-13 21:47] #389 closed

[2021-03-13 21:47] pooja commented on #393
We're closing this issue since it's been many months, but please reopen if desired

[2021-03-13 21:47] #393 closed

[2021-03-13 21:47] pooja commented on #403
We're closing this issue since it's been many months, but please reopen if desired

[2021-03-13 21:47] #403 closed

[2021-03-13 21:47] pooja commented on #414
We're closing this issue since it's been many months, but please reopen if desired

[2021-03-13 21:47] #414 closed

[2021-03-13 21:48] pooja commented on #410
We're closing this issue since it's been many months, but please reopen if desired

[2021-03-13 21:48] #410 closed

[2021-03-13 21:48] pooja commented on #409
We're closing this issue since it's been many months, but please reopen if desired

[2021-03-13 21:48] #409 closed

[2021-03-13 21:48] pooja commented on #408
We're closing this issue since it's been many months, but please reopen if desired

[2021-03-13 21:48] #408 closed

[2021-03-13 21:48] pooja commented on #404
We're closing this issue since it's been many months, but please reopen if desired

[2021-03-13 21:48] #404 closed

[2021-03-15 21:10] orvn commented on #357
Yes, definitely. That's all legacy content anyway.

Actually I just moved that directory to the correct place and created a PR [`pull/445`](https://github.com/filecoin-project/slingshot/pull/445).

[2021-03-15 21:10] orvn commented on #357
Yes, definitely @pooja. That's all legacy content anyway.

Actually I just moved that directory to the correct place and created a PR [`pull/445`](https://github.com/filecoin-project/slingshot/pull/445).

[2021-03-17 21:32] pooja commented on #357
Great!

[2021-03-17 21:32] #357 closed

[2021-04-14 20:13] jennijuju commented on #440
@pooja can I transfer this ticket to lotus for tracking?

[2021-04-28 06:37] liuk9662 opened #448 "Request to add public books dataset from archive.org"
## Dataset being requested
Dataset Name: public books dataset
Dataset Description: A collection of public books to all for free downloading and reuse
Size:
File Format: pdf
Link to Dataset: https://archive.org/details/books

[2021-04-28 08:03] xunlei-filebox opened #449 "[dataset request] App Install Lab"
## Dataset being requested
Dataset Name: App Install Lab
Dataset Description: A file library containing various application installation packages.
Size: -
File Format: Various
Link to Dataset: https://www.xunlei.com/

[2021-05-01 21:02] pooja commented on #440
Just saw this, but yep go for it @jennijuju

[2021-05-07 04:54] dkkapur commented on #449
@xunlei-filebox - thanks for submitting this dataset to be added to Slingshot.

A few questions:

- could you share any details on the set of application installation packages that are included in the file library?
- can you confirm that the button in the image below downloads the dataset and it is usable/extract-able by anyone?
- do you happen to have a versions of this site in different language

[2021-05-07 04:59] dkkapur commented on #448
Hi @liuk9662 - thanks for suggesting this dataset to be added to Slingshot!

Just looked through the Internet Archive set that you linked - just to confirm, is your suggestion that the dataset would be an aggregation of pdfs from the set of books which are available for download? Therefore the size of the dataset would be dependent on the number of books downloaded by the particular client and sto

[2021-05-07 05:00] dkkapur commented on #442
Hi @EpiK-Tech - just circling back to this! Can you share any more details on the public availability of the dataset and where it can be downloaded by anyone?

[2021-05-14 17:13] dkkapur commented on #449
@xunlei-filebox - just wanted to circle back on this and see if you had had the chance to review the above comment?

[2021-05-14 17:14] dkkapur commented on #448
@liuk9662 - just wanted to circle back on this and see if you had had the chance to review the above comment?

[2021-05-14 17:14] dkkapur commented on #442
@EpiK-Tech - checking back on the above questions!

[2021-06-03 01:51] liuk9662 commented on #448
Sorry, I just came back to reply to this message

Yes, PDF files

Others have movies and small videos, but I think books should be more useful.

Can I use this dataset to participate in the new round of SR2 Slingshot competition?

[2021-06-18 21:57] xinaxu opened #454 "[dataset request] Flickr"
## Dataset being requested
Dataset Name: Flickr
Dataset Description: Public photos published on Flickr
Size: 50TiB
File Format: jpg
Link to Dataset: https://www.flickr.com/explore

Note this dataset is different from the existing data set "Flickr Commons". Flickr Commons are sets of public photo collections provided by participating institutions. This proposed dataset is for all public photos publ

[2021-06-23 21:30] xinaxu commented on #454
@dkkapur request to take a look

[2021-06-23 22:13] dkkapur commented on #454
Thanks @xinaxu - generally for Slingshot, we qualify datasets that are not only openly accessible, but have public utility (i.e., the community benefits from these being widely available on Filecoin and can leverage the data in some specific way). As a result, a lot of the datasets tend to either be scientific datasets, software/OS images/containers that can be ran, or training data for AI models.

[2021-06-24 04:01] xinaxu commented on #454
That makes sense. The value I see for this dataset is, this will be a large collection of images, organized by cateogories or tags. One potential usage is supervised machine learning training using those images and their tags/categories. The trained model can be used for image classification. A regular Flickr user can browse images from the website, but it's not possible for them to download all p

[2021-06-24 07:11] dkkapur commented on #442
Closing this out for now. Please open a new issue in this repo if you'd like to propose this or a different dataset for Slingshot.

[2021-06-24 07:11] #442 closed

[2021-06-24 07:11] dkkapur commented on #449
Closing this out for now. Please open a new issue in this repo if you'd like to propose this or a different dataset for Slingshot.

[2021-06-24 07:11] #449 closed

[2021-06-27 05:14] aditsachde opened #456 "[dataset request] Open Library Data Dump"
## Dataset being requested
Dataset Name: Open Library Data Dump
Dataset Description: This dataset includes records of over 22 million works, 30 million editions and 8 million authors, curated by the Open Library project.
Size: ~50G uncompressed, ~10G compressed
File Format: TXT
Link to Dataset: https://openlibrary.org/data/ol_dump_latest.txt.gz

[2021-06-28 19:47] orvn commented on #454
@xinaxu @dkkapur, FYI, `flickr-commons`, exists in the [current datasets](https://github.com/filecoin-project/slingshot/blob/master/datasets.md#current-qualifying-datasets)

[2021-06-28 19:54] orvn commented on #448
@dkkapur, just wanted to mention you here. You might have not seen this last update to the ticket.

[2021-06-28 19:56] orvn commented on #456
For reference, this is the [dataset information page](https://openlibrary.org/data) from Open Library's website

[2021-06-28 22:35] xinaxu commented on #454
@orvn Thanks for pointing that out. The commons are the photos published by a selected list of organizations. In contrast, the project I am proposing here is the photos published by all public users.
I was initially looking at the flickr-commons, then I figured that it is very easy for any user to download directly from Flickr and that also has a very small collection of photos (much less than 50T

[2021-07-07 06:23] dkkapur commented on #454
@xinaxu - for specific datasets re training and tagging, I would suggest we use openly available Kaggle datasets instead where possible, since those are likelier to be relevant and standardized, as well as pass standard policies from the Kaggle terms. I'm not sure what Flickr allows/disallows and want to be careful of not accidentally pushing miners to store anything that may violate their regiona

[2021-07-07 06:26] xinaxu commented on #454
Sounds good. I'll close this one for now.

[2021-07-07 06:26] #454 closed

[2021-07-07 06:30] dkkapur commented on #456
@aditsachde - quick clarifying question: this dataset is the actual JSON dump of the entire set of records correct? Is the use case here to help make IA's catalog easier to access?

[2021-07-07 06:39] dkkapur commented on #440
@jennijuju - do you still want to transfer this one out or OK to close this?

[2021-07-07 06:40] aditsachde commented on #456
Yep, it's all the JSON records that OpenLibrary has (i.e. book metadata, not the actual books). I'm using the dataset in another [project](https://github.com/aditsachde/ipld-distributed-datasets) based on IPFS/IPLD.

Downloading the dataset directly from the IA is extremely slow right now (>4 hours to download 10GB), so having it on the Filecoin network would go a long way in making it easier to a

[2021-07-07 07:38] dkkapur commented on #448
Thanks @orvn!

@liuk9662 - is there a specific subset of this dataset that you'd specifically want to target for onboarding onto Slingshot?
Additionally, looks like most of these book files in pdf form are in the < 10 MB range. Is it fair to state that in order for them to qualify for Slingshot, there should be a clear path for users to retrieve specific book files through the Deal UI for your pro

[2021-07-07 20:53] #440 closed

[2021-07-15 15:35] dkkapur commented on #456
@aditsachde - sounds good - thank you. I think we'll move forward with adding this to the Slingshot eligible datasets! Kicking off a PR now to the official list and then will have the website updated shortly after.

[2021-09-02 18:29] orvn opened #457 "Resolve duplicate datasets"
The `datasets.md` file [contains](NEAR-VI-Dataset) some duplicate datasets. They're either:

- An exact duplication, like in the case of `NEAR-VI-Dataset`
- A partial duplication (where the name doesn't match exactly, but the contents do, like `COCO 2017`)

@dkkapur: I've resolved this in the production site (actually it automagically doesn't allow duplicates in the logic anyway), but I'll submit

[2021-09-22 21:15] cryptowhizzard opened #460 "[dataset extension request] 3000rice"
_You can request to continue uploading an incompletely onboarded dataset to Slingshot if it previously qualified for rewards but no longer does per the list of [curated datasets for Slingshot](https://github.com/filecoin-project/slingshot/blob/master/datasets.md). Please note that these requests will be reviewed on a case by case basis and approvals are only for specific project teams to continue

[2021-09-23 18:44] dkkapur commented on #460
@cryptowhizzard - quick question: why is the expected number of deals < the number of CIDs outstanding? Is your dataset dividing logic generating pieces that are < 32 GiB?

[2021-09-23 20:52] cryptowhizzard commented on #460
Hi deep,

My software packs files into tar, from there import in lotus, then I send out the deal, online. So I don't have the future CID's. What I have is the future amount of GB's to be sealed.

The total set is 20.000 deals by my best guess, I have already done approx 2000 ( after error correction ).

[2021-09-23 20:55] cryptowhizzard commented on #460
Ps... I seal with 8 GB deals atm.

[2021-09-25 18:21] kernelogic opened #461 "[dataset extension request] 3000 Rice Genomes"
_You can request to continue uploading an incompletely onboarded dataset to Slingshot if it previously qualified for rewards but no longer does per the list of [curated datasets for Slingshot](https://github.com/filecoin-project/slingshot/blob/master/datasets.md). Please note that these requests will be reviewed on a case by case basis and approvals are only for specific project teams to continue

[2021-10-01 08:02] kernelogic commented on #461
All my data is stored in their raw format. Non-tar-ed.

[2021-10-02 05:26] kernelogic opened #462 "[dataset request] Fly Brain Anatomy"
_You can request to add a new dataset to the list of [curated datasets for Slingshot](https://github.com/filecoin-project/slingshot/blob/master/datasets.md). Datasets must be fully public, no proprietary datasets or datasets that require a login are allowed._

## Dataset to be added to Slingshot
Dataset Name: Fly Brain Anatomy

Dataset Description: This data set, made available by Janelia's FlyLig

[2021-10-03 01:15] kernelogic opened #463 "[dataset request] Foldingathome COVID-19 Datasets"
_You can request to add a new dataset to the list of [curated datasets for Slingshot](https://github.com/filecoin-project/slingshot/blob/master/datasets.md). Datasets must be fully public, no proprietary datasets or datasets that require a login are allowed._

## Dataset to be added to Slingshot
Dataset Name: Foldingathome COVID-19 Datasets

Dataset Description: Folding@home is a massively distrib

[2021-10-05 08:20] dkkapur commented on #460
Thanks @cryptowhizzard - approving this one for Phase 2.6. Once you register your project for this phase (use any available dataset), can you confirm the Project Name here after which we can override the backend and set your dataset to this one?

[2021-10-05 08:21] dkkapur commented on #461
@kernelogic thanks for sharing this level of detailed information! Approving this one for Phase 2.6. Dataset information is updated for your project details here: https://slingshot.filecoin.io/project/604a884ba191de6cd9228525

[2021-10-05 17:25] kernelogic commented on #461
Thank you very much @dkkapur !

[2021-10-06 22:27] #436 closed

[2021-10-07 19:03] dkkapur commented on #456
Closing this one out since it was added to the set of qualifying datasets!

[2021-10-07 19:03] #456 closed

[2021-10-08 16:03] orvn commented on #461
@kernelogic, your project [Kernelogic Rice Genomes](https://slingshot.filecoin.io/project/604a884ba191de6cd9228525) has been added as an exception, and you can now switch to the `3000 Rice Genomes Project` dataset within the current phase (2.5).

cc @dkkapur

[2021-10-08 16:03] #461 closed

[2021-10-11 08:41] cryptowhizzard commented on #460
Hi, it is still grayed out. I created the project in the backend.

[2021-10-20 16:30] xinaxu opened #464 "[dataset request] Azure Open Datasets"
Request to add large datasets listed in Azure Open Datasets
https://docs.microsoft.com/en-us/azure/open-datasets/dataset-catalog

## Dataset to be added to Slingshot
| Dataset Name                | Dataset Description                                                                                                           | Size  | File Format | Link to Dataset download

[2021-11-17 06:36] xinaxu commented on #464
@dkkapur Hey got some time to take a look?

[2021-11-25 00:24] georgemac510 opened #466 "[dataset extension request] for Top 100 Crypto Investor Dataset"
_You can request to continue uploading an incompletely onboarded dataset to Slingshot if it previously qualified for rewards but no longer does per the list of [curated datasets for Slingshot](https://github.com/filecoin-project/slingshot/blob/master/datasets.md). Please note that these requests will be reviewed on a case by case basis and approvals are only for specific project teams to continue

[2021-11-26 02:52] xingjitansuo opened #467 "[dataset extension request] Smartcity"
_You can request to continue uploading an incompletely onboarded dataset to Slingshot if it previously qualified for rewards but no longer does per the list of [curated datasets for Slingshot](https://github.com/filecoin-project/slingshot/blob/master/datasets.md). Please note that these requests will be reviewed on a case by case basis and approvals are only for specific project teams to continue

[2021-11-27 20:11] orvn commented on #467
@xingjitansuo: Are you asking for extension into phase 2.6 (which concluded recently) or phase 2.7?

[2021-11-27 20:13] orvn commented on #466
@georgemac510: Just to confirm, you're asking for extension into phase 2.7 (not 2.6, which concluded recently), is that correct?

[2021-11-27 20:20] georgemac510 commented on #466
Hi @orvn That is correct. I want to extend to the end of 2.7. Thanks!

[2021-11-27 20:28] orvn commented on #466
cc @dkkapur to review

[2021-11-29 02:17] xingjitansuo commented on #467
@orvn, for phase 2.7.

[2021-12-01 01:29] georgemac510 commented on #466
@dkkapur Can you take a look at this issue? Thanks.

[2021-12-01 06:58] xingjitansuo commented on #467
@dkkapur is there any update here ?

[2021-12-06 23:22] dkkapur commented on #467
@xingjitansuo - approving this one.

@orvn can we enable this dataset for project team "XingjiTanSuo-smartcity"

[2021-12-06 23:23] dkkapur commented on #466
Approving this. Thanks @georgemac510.

@orvn let's add this dataset for team "Fin-File-Crypto".

[2021-12-07 00:36] dkkapur commented on #448
Closing this out for now - we can reopen for reconsidering for 2.7 if required. Thanks.

[2021-12-07 00:36] #448 closed

[2021-12-07 00:49] dkkapur commented on #464
@xinaxu - quick thoughts:
* TartanAir AirSim - looks good, happy to add this one
* SnpEff - same as above ^
* 1000 Genomes - have a lot of genome datasets already, similar to this one, might be worth skipping this for the time being, especially since its rather large and we're likely in the final stages of v2 Slingshot
* GATK Resource Bundle - per https://gatk.broadinstitute.org/hc/en-us/articles/

[2021-12-07 01:11] xinaxu commented on #464
@dkkapur Thanks. I've created a pull request for the 3 out of 5.

[2021-12-07 01:22] dkkapur commented on #464
@orvn @timelytree - https://github.com/filecoin-project/slingshot/pull/468 was merged, can we add these to the list of eligible datasets for projects on the site? Thank you!

[2021-12-07 01:23] orvn commented on #464
No problem @dkkapur

[2021-12-07 01:29] georgemac510 commented on #466
Thanks @dkkapur and @orvn

[2021-12-07 19:28] orvn commented on #467
@xingjitansuo is your project name `Smartcity- Sensor-based network and data analysis system`?
We couldn't find that, but did find: `Smartcity- Sensor-based network and data analysis system`? ([link to project](https://slingshot.filecoin.io/project/5fd1d76344b446c952f583b2))

Is that the right one?

[2021-12-07 20:30] dkkapur commented on #467
@xingjitansuo - just looked through the past conversations on this dataset and it looks like we did not get the full context on this dataset. Can you help me with:
- who is generating the dataset?
- who is paying for the data to be collected today?
- is it available for a free download somewhere on the web today?
- what city or cities is the data being captured in?

[2021-12-08 05:25] orvn commented on #464
These (3) new datasets are now available in the production Slingshot site for phase `2.7`:
- `snpeff`
- `russian-open-speech-to-text`
- `tartanair`

[2021-12-08 05:25] #464 closed

[2021-12-08 05:28] orvn commented on #466
@georgemac510: you should now be able to select this dataset from your Account page on the Slingshot site (make sure you select the `current` phase, 2.7, from the dropdown).

[2021-12-08 05:28] #466 closed

[2021-12-08 17:08] dkkapur commented on #467
Pending response to above questions before approving.

[2021-12-09 03:08] xingjitansuo commented on #467
Correct

[2021-12-09 03:45] xingjitansuo commented on #467
- who is generating the dataset?
   Those datasets are generated by a research lab in University of Electronic Science and Technology of China.
- who is paying for the data to be collected today?
   University Research Fund.
- is it available for a free download somewhere on the web today?
   Yes, you could access from http://api.sr2.glm2m.com/index.php?r=smartcity-dataset%2Fdataset
- what city or

[2021-12-09 19:18] boqian-nbai opened #469 "[dataset request] Next Generation Weather Radar"
_You can request to add a new dataset to the list of [curated datasets for Slingshot](https://github.com/filecoin-project/slingshot/blob/master/datasets.md). Datasets must be fully public, no proprietary datasets or datasets that require a login are allowed._

## Dataset to be added to Slingshot
Dataset Name: NEXRAD - Next Generation Weather Radar

Dataset Description: Real-time and archival data

[2021-12-10 00:16] #469 closed

[2021-12-10 00:52] mikesiwer opened #470 "[dataset request] NEXRAD"
_You can request to add a new dataset to the list of [curated datasets for Slingshot](https://github.com/filecoin-project/slingshot/blob/master/datasets.md). Datasets must be fully public, no proprietary datasets or datasets that require a login are allowed._

## Dataset to be added to Slingshot
Dataset Name: NEXRAD - Next Generation Weather Radar

Dataset Description: The Next Generation Weather

[2021-12-10 03:43] orvn commented on #469
@boqian-nbai did you close this intentionally?

[2021-12-14 04:56] orvn commented on #467
Thanks for the reply @xingjitansuo.

I had some more questions and concerns with issues I've been having with your app UI.

1. Did something change with the app? Last week I was able to download files successfully (`.wav` files). However now I get `.db`  files. Is it just a mime type issue or something else?

2. I’m also getting some 503 when making requests occasionally
![Slingshot 2021-12-13 at

[2021-12-17 13:07] xingjitansuo commented on #467
That is a good call out. The server was down and it has now been fixed. Please check one more time. Those datasets are open to public and is accessible by clicking download button shown in the website. @orvn

[2021-12-17 17:35] orvn commented on #467
@xingjitansuo: it seems to mostly work now, two issues I'm finding:

- I am unable to download the dataset: `数据集下载 (Dataset Download)` does not trigger a download

- Some files still don't seem to download in the correct format: I'm downloading `920.wav` from the `校园 (Campus)` tab here, but it still returns a `.db` file. May other files do work however.

![db](https://user-images.githubusercontent

[2021-12-22 20:22] jsmetana opened #471 "[documentation] small typo? miner_country mentioned"
Just thought to mention this, it seemed odd to me:

![image](https://user-images.githubusercontent.com/29602127/147150326-76d17c18-6766-4d1a-8402-da6a0f60f80b.png)

Sorry if this has a reason I'm not aware of, or if it's something _really not important_.

[2021-12-28 02:22] xingjitansuo commented on #467
@orvn,
1. 数据集下载 (Dataset Download) returns the static page where you can find all the wav files. This page does not support batch download. If one is interested in specific file,  could simply hit the download button near the wav file.
2. We expect this db file format error to happen occasionally.  Since this dataset is normally used within a small group, it is not worth to check every file format

[2022-01-07 18:28] orvn commented on #467
Does this mean that other participants can't download the full dataset (without running a script that scrapes your app UI)? @xingjitansuo

Because that would be a blocker to _other_ participants using this dataset, since Slingshot users will normally try to fill 32 GiB sectors.

[2022-01-11 11:02] xingjitansuo commented on #467
@orvn I talked to the team, and they provided the batch download features specifically for onboarding to Filecoin.

[2022-01-11 18:05] Jorropo opened #491 "[typo] Typo in the link"
![Capture](https://user-images.githubusercontent.com/24391983/148997251-19b45e60-1cbd-4137-8f32-0499bb9ee677.PNG)
 The link on this repo has a typo.
 Should be https://slingshot.filecoin.io/. :)

[2022-01-11 22:17] orvn commented on #491
Thanks for catching this! Resolved.

[2022-01-11 22:17] #491 closed

[2022-01-12 20:36] orvn commented on #471
Thanks for reporting, we'll be removing the `miner_country` field from the docs. In the meantime you can just submit the `csv` as specified on the upload area (log in to your account and select a project that participated in a particular phase).

[2022-01-17 21:17] orvn commented on #471
@jsmetana, this is now resolved (`miner_country` was removed from the docs as a requirement)

[2022-01-17 21:17] #471 closed

[2022-01-17 21:34] orvn commented on #467
I tested the download from the list and it works, but the list needs some slight modification.

All files have an extra `/` character in the URI constructor. Please fix this @xingjitansuo.

I ran a test on all 24k of your records when it's removed and they _do_ download successfully.
[code]

To make it easier for other Slingshot users, I also think there should be a command that helps them downloa

[2022-01-21 02:50] xingjitansuo commented on #467
@orvn
Please check again.  :)

[2022-01-25 09:29] dkkapur commented on #467
@xingjitansuo - let's proceed with approving this for current and future phases for now. Thanks for your hard work in making it available easily to others as well!

[2022-01-25 09:30] dkkapur commented on #470
@mikesiwer - are you interested in storing this dataset still? Happy to approve if so, meets the needs.

[2022-01-26 03:16] xingjitansuo commented on #467
Thanks for all  your effort ! @dkkapur @orvn

[2022-01-28 15:24] orvn commented on #467
@xingjitansuo, you will find that your project is able to select the Smart City dataset.

@dkkapur, for now, I added it to the temporarily disallowed dataset, but if needed, you can move it up as a dataset available for everyone on the next phase at your discretion.

[2022-01-28 15:24] #467 closed

[2022-02-02 22:37] dharmapunk82 opened #515 "enable google analytics site tracking"
Please add to document head to enable website analytics for slingshot.filecoin.io:

<script async src="https://www.googletagmanager.com/gtag/js?id=G-EFVL8GP8DW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EFVL8GP8DW');
</script>

[2022-02-03 00:01] orvn commented on #515
@dharmapunk82 👋

Will the firing of the analytics tag be configured in GTM? (so that it triggers on both new requests and virtualized navigation)

Since this is a single page app, pages don't make a new `GET` for every navigation change.

[2022-02-10 22:28] dharmapunk82 commented on #515
Hi @orvn

Great question!

Initially I planned to just start getting very basic page view data, then integrate GTM later.  I hadn't realized you wind up needing to ship the GTM code bits rather than the UA code bits when following google's analytics academy.  I've been in the world of AWS and infra as code and whatnot for the last several years, so apologies for the noob ticket on analytics.

Afte

[2022-02-10 23:26] orvn commented on #515
@dharmapunk82, no worries at all! It doesn't help that modern Javascript apps go against the grain of how analytics tools operate.

Added `GTM-KVJWN7R` to the site (on both public pages and pages requiring auth).

Are you seeing separate views in Google Analytics on your when you click between pages on the Slingshot site? If not, we might need to create a new trigger for the `nuxtRoute` event, whi

[2022-02-17 01:49] orvn commented on #470
(ping @mikesiwer)

[2022-03-08 21:59] dharmapunk82 commented on #515
Hi @orvn --

I'm happy to confirm that we do see data (since 2/10/22) as I would hope/expect detailing what page elements users are viewing in google analytics now:
![image](https://user-images.githubusercontent.com/2702624/157332037-3238027d-7c1e-46dc-9bce-192ce1748f78.png)

I think we can consider this resolved, but let me know any follow up questions, especially if there are page elements you w

[2022-03-12 18:55] kernelogic opened #526 "[dataset request] Earth Observation Data Cubes for Brazil"
## Dataset to be added to Slingshot
Dataset Name: Earth Observation Data Cubes for Brazil

Dataset Description: Earth observation (EO) data cubes produced from analysis-ready data (ARD) of CBERS-4, Sentinel-2 A/B and Landsat-8 satellite images for Brazil. The datacubes are regular in time and use a hierarchical tiling system.

Size: 112.9 TiB

File Format: tif

Link to Dataset download: https://re

[2022-03-12 18:57] kernelogic opened #527 "[dataset request] Terra Fusion Data Sampler"
## Dataset to be added to Slingshot
Dataset Name: Terra Fusion Data Sampler

Dataset Description: The Terra Basic Fusion dataset is a fused dataset of the original Level 1 radiances from the five Terra instruments.

Size: 136.2 TiB

File Format: h5

Link to Dataset download: https://registry.opendata.aws/terrafusion/

[2022-03-12 19:00] kernelogic opened #528 "[dataset request] NASA NEX"
## Dataset to be added to Slingshot
Dataset Name: NASA NEX

Dataset Description: A collection of Earth science datasets maintained by NASA, including climate change projections and satellite images of the Earth's surface.

Size: 55.9 TiB

File Format: various

Link to Dataset download: https://registry.opendata.aws/nasanex/
https://github.com/awslabs/open-data-docs/tree/main/docs/nasa-nex

[2022-03-14 03:24] mikesiwer commented on #470
Yes! I am still interested.

[2022-03-14 16:59] dkkapur commented on #470
Cool - will approve this for Phase 2.8 and onwards.

[2022-03-14 17:05] dkkapur commented on #526
@kernelogic can you help me understand what subset of this dataset is landsat-8 vs the others? In case you have that, would be good to understand so we can also look at overlap with landsat-8 datasets onboarded in the past through Slingshot.

[2022-03-14 17:10] dkkapur commented on #528
Good find, thanks @kernelogic!

[2022-03-14 18:39] georgemac510 opened #529 "[dataset extension request] Top 100 Crypto Investor Dataset"
**Slingshot participation information**
Dataset Name: Top 100 Crypto Investor Dataset
Project team name: Fin-File-Crypto
Phase(s) in which dataset was onboarded by the project team: 2.1, 2.2, 2.3, 2.4, 2.5, 2.7
Dataset onboarding progress
Total amount of CIDs to onboard the total dataset: ~900

Amount of CIDs outstanding / not yet onboarded in deals: ? Please see at bottom.

Link to gist/hackmd/te

[2022-03-15 03:53] xingjitansuo opened #530 "[dataset extension request] SmartCity Dataset"
_You can request to continue uploading an incompletely onboarded dataset to Slingshot if it previously qualified for rewards but no longer does per the list of [curated datasets for Slingshot](https://github.com/filecoin-project/slingshot/blob/master/datasets.md). Please note that these requests will be reviewed on a case by case basis and approvals are only for specific project teams to continue

[2022-03-15 19:28] #515 closed

[2022-03-17 18:58] orvn commented on #528
Added for 2.8!

[2022-03-17 18:58] orvn commented on #527
Added for 2.8!

[2022-03-17 18:58] orvn commented on #470
Added for 2.8!

[2022-03-17 19:29] dkkapur commented on #526
Looks like this dataset groups images based on geographic coordinates and adds on additional useful data on it. Based on this, let's move forward with including this. Thank you @kernelogic.

[2022-03-17 21:14] orvn commented on #526
Adding this, but under the official dataset name from [the original source](http://brazildatacube.org/en/home-page-2/#dataproducts), "Brazil Data Cube"

[2022-03-17 21:28] #470 closed

[2022-03-17 21:28] #526 closed

[2022-03-17 21:28] #527 closed

[2022-03-17 21:28] #528 closed

[2022-03-18 03:11] CodeIsLaw0108 opened #533 "[dataset request] Terra Fusion Data Sampler"
_You can request to add a new dataset to the list of [curated datasets for Slingshot](https://github.com/filecoin-project/slingshot/blob/master/datasets.md). Datasets must be fully public, no proprietary datasets or datasets that require a login are allowed._

## Dataset to be added to Slingshot
Dataset Name: Terra Fusion Data Sampler

Dataset Description: The Terra Basic Fusion dataset is a fused

[2022-03-18 03:13] CodeIsLaw0108 commented on #533
Hi，It's first time for applying， Please let me know if any info loss on it

[2022-03-18 22:52] dkkapur commented on #533
Hi - this was just added for Phase 2.8. See this for more info: https://github.com/filecoin-project/slingshot/issues/527. Please reopen if this was intended to be something different.

[2022-03-18 22:52] #533 closed

[2022-03-19 19:33] xinaxu opened #534 "[dataset request] Various AWS open datasetclear"
| Name | Description | Size | Format | URL |
| --- | --- | --- | --- | --- |
| World Bank - Light Every Night | Light Every Night - World Bank Nightime Light Data – provides open access to all nightly imagery and data from the Visible Infrared Imaging Radiometer Suite Day-Night Band (VIIRS DNB) from 2012-2020 and the Defense Meteorological Satellite Program Operational Linescan System (DMSP-OLS) f

[2022-03-24 03:58] xinaxu commented on #534
@dkkapur

[2022-03-30 19:16] dkkapur commented on #534
@xinaxu this is a lot of datasets! wow!

some of these look to be duplicates (both against what we have in Slingshot as well as in some instances across the proposed table). can i propose that you pick the top 10-15 that you'd like to see onboarded or would like to work on yourself?

@orvn @timelytree had some additional thoughts on adding more datasets as well. tagging them to share!

[2022-03-31 05:03] orvn commented on #534
### Overview

- The table above has 234 rows, but some were duplicate
- Below is the same list but
  - Only dataset names
  - Sorted
  - De-duped
  - Some datasets already on Slingshot struck through

## Implications

Still, there are just over 200 left, which is double the size of Slingshot's 82 current datasets. I think it's valuable to have more datasets, but we also have to consider that addin

[2022-04-01 05:18] xinaxu commented on #534
@dkkapur I want to have most of them eligible to Slingshot at once. It's 40PiB of data total, assume 10x replication, that's 400PiB or 0.4 EiB of useful data over 15 EiB of current network capacity. It will be a good story to show and tell.
@orvn Thanks for spending time to sort and dedup. Those dataset are also duplicates - KITTI, MMID. Hope it's not a great effort to add the filtering on the UI.

[2022-05-04 09:35] dkkapur commented on #534
@xinaxu - I agree that it would be good to scope this in. Proposing that we pull these in for 3.1 with an impending design change in the program (June-ish onwards).

[2022-05-04 09:36] dkkapur commented on #529
I'm OK with supporting this. Makes sense that underlying dataset grows, and list of CIDs is hard to nail down completely.

[2022-05-04 09:37] dkkapur commented on #529
@orvn @timelytree can we approve this project in the backend?

[2022-05-04 09:37] dkkapur commented on #529
@georgemac510 we may need the client address with which you are making deals too, just in case, can you share that ASAP?

[2022-05-05 08:10] xingjitansuo commented on #530
[smartcity-CID.txt](https://github.com/filecoin-project/slingshot/files/8629588/smartcity-CID.txt)

[2022-05-05 10:02] georgemac510 commented on #529
@dkkapur @orvn @timelytree The FIL address for the client is:  f3woyrzyn634jgelyt4tj4hzw7mp7lxpacxbvaav3f7jnb4jrowjzl4mjadlpxgvxdiu36w23fzlizc5vs2bqa
The URL for the client is: https://fin-crypto.onrender.com/
Thanks for the approval.

[2022-05-06 16:34] xinaxu commented on #534
@dkkapur Sounds good. Will wait for that and revisit this.

[2022-05-13 15:43] orvn commented on #467
@xingjitansuo, [the app URL](http://api.sr2.glm2m.com/index.php?r=smartcity-dataset%2Fdataset) appears to be down? Is this just temporary?

[2022-05-14 13:40] xingjitansuo commented on #467
@orvn  I synced up with the team, and it should be alive next week.

[2022-05-14 15:53] orvn commented on #467
Sounds good, thanks!

[2022-07-01 00:20] georgemac510 commented on #529
Hi @dkkapur @orvn @timelytree It appears that `Top 100 Crypto Investor Dataset` was never moved back to a "qualifying dataset". Had this ever been finally approved for Slingshot 2.8 and Slingshot 3.0?

[2022-07-02 13:21] orvn commented on #530
Hi @xingjitansuo, sorry about the late reply here. How many of these CIDs have you stored already vs how many are left to complete the dataset?

[2022-07-02 13:27] orvn commented on #529
@georgemac510, sorry about that, I was OOO when this request came in and missed this notification. Your project has been added as an exception for this phase!

[2022-07-02 13:27] #529 closed

[2022-07-13 15:18] liuziba opened #541 "Dataset state change request - Human PanGenomics Project"
## Dataset information

- **Dataset name:** Human PanGenomics Project
- **Dataset state:**
    - [ ] "CAR generation complete"
    - [x] Not Started
- **Your handle on Filecoin Slack:** Xinan Xu

 ## Change requested

- **Correct dataset state:**
  - [x] "Remove"
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [ ] "CAR generation in progress"

 - **Why is this change being requested?:** I'

[2022-07-13 15:44] aueam opened #542 "[v3] Dataset size change request - AgricultureVision"
## Dataset information

- **Dataset name:** AgricultureVision
- **Dataset slug:** agriculturevision
- **Dataset state:**
    - [ ] "CAR generation complete"
    - [x] Something else
- **Your handle on Filecoin Slack:** Maros Telka

 ## Change requested

- **Correct dataset size:**
  - [ ] 914.1 GiB
  - [x] 615.9 GiB

 - **Why is this change being requested?:** `Because 914.1 GiB is simply wrong.`

[2022-07-13 18:43] benjaminh83 opened #543 "[v3] Two of my datasets cant be directly mounted with goofys as suggested by the guidelines"
## Purpose of this GitHub issue
* [ ] Issue with Slingshot deal engine
* [x] Issue with AWS Buckets
* [ ] Feedback for program design

## Description
We are not able to mount the following datasets directly with goofys:
- coupled-model-intercomparison-project-6, size 1.66 PiB, region us-west-2, file count 40,584,114
- encyclopedia-of-dna-elements-encode, size 1014.2 TiB, region us-west-2, file cou

[2022-07-13 20:57] orvn commented on #542
Reviewing this, but the `diff` does show a discrepancy of `4423` files when excluding the trailing slash:

`s3://intelinair-data-releases/agriculture-vision/cvpr_paper_2020` `/`

[2022-07-13 21:30] liuziba commented on #543
@benjaminh83 could you try this patch?
https://github.com/liuziba/goofys/commit/fe378e8b6205e1afc6a32b449838a07578e31410

[2022-07-13 21:35] aueam commented on #542
Did you mean `cvpr_challenge_2021`? Because `cvpr_paper_2020` always shows me 9 files with and without `/`
[code]

[2022-07-13 22:04] orvn commented on #542
@aueam, sorry, I meant `2021`, yes.

Just checking the file names against each other, regardless of the exact path, we can `diff` all the files from the naked (no slash) path against the concatenated trailing `/` slash and `_full`.

[code]

Since this yields no results, there are 0 net new files in the `914.1 GiB` vs the `615.9 GiB`. So you're correct, `615.9 GiB` is the right size.

@dkkapur so i

[2022-07-13 22:52] orvn commented on #542
@aueam, the dataset is updated with the new size! (you _might_ have to refresh your the web app to reflect the latest changes)

Thanks for reporting this issue.

[2022-07-13 22:52] #542 closed

[2022-07-14 01:19] dkkapur commented on #541
![image](https://user-images.githubusercontent.com/2343218/178866663-a9d90462-2128-401e-b9ac-f5dce5898327.png)

Removed you from this dataset and it is now open to other DPs for claiming!

[2022-07-14 01:19] #541 closed

[2022-07-14 05:48] xingjitansuo commented on #530
@orvn
Currently, all the CIDs should be onboarded to the network.

[2022-07-14 07:15] xinaxu commented on #534
Closing since those dataset are being used for V3

[2022-07-14 07:15] #534 closed

[2022-07-14 14:18] orvn commented on #530
Of these, how many (what approximate percentage) were onboarded in this most recent phase? (`2.8`) @xingjitansuo

[2022-07-16 02:41] xingjitansuo commented on #530
100%. As I re-propose all the deals again in this new phase.

[2022-07-26 12:49] RobQuistNL opened #545 "Dataset state change request - Copernicus Digital Elevation Model (DEM)"
## Dataset information

- **Dataset name:** Copernicus Digital Elevation Model (DEM)
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 2 are al

[2022-07-26 12:50] RobQuistNL opened #546 "Dataset state change request - ESA WorldCover"
## Dataset information

- **Dataset name:** ESA WorldCover
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 2 are already done, 1 is broken`

[2022-07-26 12:50] RobQuistNL opened #547 "Dataset state change request - Deutsche Boerse Public Dataset"
## Dataset information

- **Dataset name:** Deutsche Boerse Public Dataset
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 2 are already done

[2022-07-26 12:50] RobQuistNL opened #548 "Dataset state change request - KITTI Vision Benchmark Suite"
## Dataset information

- **Dataset name:** KITTI Vision Benchmark Suite
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 2 are already done,

[2022-07-26 13:37] justanothersynth commented on #545
@RobQuistNL looks like this dataset is already claimed!

<img width="882" alt="Screen Shot 2022-07-26 at 9 37 17 AM" src="https://user-images.githubusercontent.com/11708190/181019546-5453ed5c-f10a-420e-9c7e-c16b6a7c82a1.png">

[2022-07-26 13:38] justanothersynth commented on #546
@RobQuistNL this dataset has been assigned to you and its state has been set to `CAR generation in progress` 🚀

[2022-07-26 13:39] #546 closed, assigned to dkkapur, timelytree

[2022-07-26 13:39] justanothersynth commented on #547
@RobQuistNL this dataset has been assigned to you and its state has been set to `CAR generation in progress` 🚀

[2022-07-26 13:39] #547 closed, assigned to dkkapur, timelytree

[2022-07-26 13:40] justanothersynth commented on #548
@RobQuistNL this dataset has been assigned to you and its state has been set to `CAR generation in progress` 🚀

[2022-07-26 13:40] #548 closed, assigned to dkkapur, timelytree

[2022-07-26 13:50] justanothersynth commented on #545
Closing because this dataset was claimed by someone else before I could assign it to @RobQuistNL

[2022-07-26 13:50] #545 closed, assigned to dkkapur, timelytree

[2022-07-26 16:27] RobQuistNL commented on #547
@timelytree this dataset is no longer public;

[code]

[code]

[2022-07-26 17:01] RobQuistNL opened #549 "Dataset state change request - ECMWF ERA5 Reanalysis"
## Dataset information

- **Dataset name:** ECMWF ERA5 Reanalysis
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 4 are already done, 2 are b

[2022-07-26 17:02] RobQuistNL opened #550 "Dataset state change request - EPA Risk-Screening Environmental Indicators"
## Dataset information

- **Dataset name:** EPA Risk-Screening Environmental Indicators
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 4 are

[2022-07-26 17:02] RobQuistNL opened #551 "Dataset state change request - Global Seasonal Sentinel-1 Interferometric Coherence and Backscatter Data Set"
## Dataset information

- **Dataset name:** Global Seasonal Sentinel-1 Interferometric Coherence and Backscatter Data Set
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not s

[2022-07-27 02:01] justanothersynth commented on #549
@RobQuistNL this dataset has been assigned to you and its state has been set to `CAR generation in progress` 🚀

[2022-07-27 02:01] #549 closed, assigned to dkkapur, timelytree

[2022-07-27 02:02] justanothersynth commented on #550
@RobQuistNL this dataset has been assigned to you and its state has been set to `CAR generation in progress` 🚀

[2022-07-27 02:02] #550 closed, assigned to dkkapur, timelytree

[2022-07-27 02:03] justanothersynth commented on #551
@RobQuistNL this dataset has been assigned to you and its state has been set to `CAR generation in progress` 🚀

[2022-07-27 02:03] #551 closed, assigned to dkkapur, timelytree

[2022-08-01 15:46] RobQuistNL commented on #551
@timelytree while packing this one, the last .car file failed;

[code]

so I can not completele this set

[2022-08-02 08:10] RobQuistNL opened #552 "Dataset state change request - A Realistic Cyber Defense Dataset (CSE-CIC-IDS2018)"
## Dataset information

- **Dataset name:** A Realistic Cyber Defense Dataset (CSE-CIC-IDS2018)
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets

[2022-08-02 08:10] RobQuistNL opened #553 "Dataset state change request - Amazon Berkeley Objects Dataset"
## Dataset information

- **Dataset name:** Amazon Berkeley Objects Dataset
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 8 are already don

[2022-08-02 08:10] RobQuistNL opened #554 "Dataset state change request - Amazon Bin Image Dataset"
## Dataset information

- **Dataset name:** Amazon Bin Image Dataset
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 8 are already done, 2 ar

[2022-08-02 08:11] RobQuistNL opened #555 "Dataset state change request - Amazon-PQA"
## Dataset information

- **Dataset name:** Amazon-PQA
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 8 are already done, 2 are broken`

[2022-08-02 08:11] RobQuistNL opened #556 "Dataset state change request - ARPA-E PERFORM Forecast data"
## Dataset information

- **Dataset name:** ARPA-E PERFORM Forecast data
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 8 are already done,

[2022-08-02 08:11] RobQuistNL opened #557 "Dataset state change request - Broad Genome References"
## Dataset information

- **Dataset name:** Broad Genome References
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 8 are already done, 2 are

[2022-08-02 08:11] RobQuistNL opened #558 "Dataset state change request - Cancer Genome Characterization Initiatives - Burkitt Lymphoma, HIV+ Cervical Cancer"
## Dataset information

- **Dataset name:** Cancer Genome Characterization Initiatives - Burkitt Lymphoma, HIV+ Cervical Cancer
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can

[2022-08-02 08:12] RobQuistNL opened #559 "Dataset state change request - Central Weather Bureau OpenData"
## Dataset information

- **Dataset name:** Central Weather Bureau OpenData
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 8 are already don

[2022-08-02 08:12] RobQuistNL opened #560 "Dataset state change request - ChEMBL - Data Lakehouse Ready"
## Dataset information

- **Dataset name:** ChEMBL - Data Lakehouse Ready
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 8 are already done,

[2022-08-02 08:12] RobQuistNL opened #561 "Dataset state change request - Clinical Proteomic Tumor Analysis Consortium 3 (CPTAC-3)"
## Dataset information

- **Dataset name:** Clinical Proteomic Tumor Analysis Consortium 3 (CPTAC-3)
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 dat

[2022-08-02 08:12] RobQuistNL opened #562 "Dataset state change request - Cloud to Street - Microsoft Flood and Clouds Dataset"
## Dataset information

- **Dataset name:** Cloud to Street - Microsoft Flood and Clouds Dataset
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 dataset

[2022-08-02 08:12] RobQuistNL opened #563 "Dataset state change request - CoMMpass from the Multiple Myeloma Research Foundation"
## Dataset information

- **Dataset name:** CoMMpass from the Multiple Myeloma Research Foundation
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datas

[2022-08-02 08:13] RobQuistNL opened #564 "Dataset state change request - CoversBR"
## Dataset information

- **Dataset name:** CoversBR
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 8 are already done, 2 are broken`

[2022-08-02 08:13] RobQuistNL opened #565 "Dataset state change request - COVID-19 Data Lake"
## Dataset information

- **Dataset name:** COVID-19 Data Lake
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 8 are already done, 2 are brok

[2022-08-02 08:13] RobQuistNL opened #566 "Dataset state change request - COVID-19 Molecular Structure and Therapeutics Hub"
## Dataset information

- **Dataset name:** COVID-19 Molecular Structure and Therapeutics Hub
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets -

[2022-08-02 08:13] RobQuistNL opened #567 "Dataset state change request - Daylight Map Distribution of OpenStreetMap"
## Dataset information

- **Dataset name:** Daylight Map Distribution of OpenStreetMap
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets - 8 are

[2022-08-02 08:14] RobQuistNL opened #568 "Dataset state change request - District of Columbia - Classified Point Cloud LiDAR 2015"
## Dataset information

- **Dataset name:** District of Columbia - Classified Point Cloud LiDAR 2015
- **Dataset state:**
    - [x] Available
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [X] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 dat

[2022-08-02 13:17] justanothersynth commented on #551
@RobQuistNL is this due to a Singularity issue?

[2022-08-02 13:59] RobQuistNL commented on #551
Don't think so. But its been mentioned in the slack before;

https://filecoinproject.slack.com/archives/C01AZP8BKRQ/p1658803944553379

[2022-08-02 18:04] #530 closed

[2022-08-03 17:23] dkkapur commented on #543
@benjaminh83 did this work for you?

[2022-08-04 08:25] Hugh-Top opened #569 "Dataset state change request - Basic Local Alignment Sequences Tool (BLAST) Databases"
## Dataset information

- **Dataset name:** Basic Local Alignment Sequences Tool (BLAST) Databases
- **Dataset state:**
    - [x] "CAR generation complete"
    - [ ] Something else
- **Your handle on Filecoin Slack:** hugh

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [ ] "CAR generation in progress"

 - **Why is this change being reque

[2022-08-04 21:12] benjaminh83 commented on #543
@liuziba @dkkapur Sorry for not getting back on this. So we ended up deciding not to use Goofys and just use native S3 instead.

[2022-08-04 21:12] #543 closed

[2022-08-05 15:00] RobQuistNL opened #570 "Dataset state change request / error while packing - aws-igenomes"
## Dataset information

- **Dataset name:** aws-igenomes
- **Dataset state:**
  - [ ] "CAR generation in progress"
- **Your handle on Filecoin Slack:** rob

 ## Change requested

- **Correct dataset state:**
  - [ ] "Errored?"

 - **Why is this change being requested?:** `respond here`
I can't finish 47 of the carfiles;
[code]

The singularity daemon shell scripts don't allow for exporting partial

[2022-08-05 15:17] RobQuistNL opened #571 "Dataset state change request / access error / global-seasonal-sentinel-1-interferometric-coherence-and-backscatter-data-set"
## Dataset information

- **Dataset name:** global-seasonal-sentinel-1-interferometric-coherence-and-backscatter-data-set
- **Dataset state:**
    - [x] "CAR generation complete"
- **Your handle on Filecoin Slack:**  rob

 ## Change requested

- **Correct dataset state:**
  - [X] "Errored?"

 - **Why is this change being requested?:**
86 out of 87 .car files are done, but one is errored. Can not u

[2022-08-10 13:22] justanothersynth commented on #554
No action as this was claimed by someone else before I could get to it

[2022-08-10 13:22] #554 closed, assigned to dkkapur, timelytree

[2022-08-10 13:23] justanothersynth commented on #552
@RobQuistNL assigned to you 🙂

[2022-08-10 13:23] #552 closed, assigned to dkkapur, timelytree

[2022-08-10 13:24] justanothersynth commented on #553
@RobQuistNL assigned to you 🙂

[2022-08-10 13:24] #553 closed, assigned to dkkapur, timelytree

[2022-08-10 13:24] justanothersynth commented on #557
@RobQuistNL assigned to you 🙂

[2022-08-10 13:24] #557 closed, assigned to dkkapur, timelytree

[2022-08-10 13:27] justanothersynth commented on #555
Closing with no action as this was claimed by someone else before I could get to it

[2022-08-10 13:27] #555 closed, assigned to dkkapur, timelytree

[2022-08-10 13:27] justanothersynth commented on #556
Closing with no action as this was claimed by someone else before I could get to it

[2022-08-10 13:27] #556 closed, assigned to dkkapur, timelytree

[2022-08-10 13:27] justanothersynth commented on #558
Closing with no action as this was claimed by someone else before I could get to it

[2022-08-10 13:27] #558 closed, assigned to dkkapur, timelytree

[2022-08-10 13:28] justanothersynth commented on #560
Closing with no action as this was claimed by someone else before I could get to it

[2022-08-10 13:28] #560 closed, assigned to dkkapur, timelytree

[2022-08-10 13:31] justanothersynth commented on #569
Hi @Hugh-Top 👋🏼

It looks like this dataset is already claimed by you and its state is set to `Awaiting first copy`. Can you clarify what you're requesting here?

[2022-08-10 13:33] justanothersynth commented on #571
@RobQuistNL that final CAR file has a permission issue making it inaccessible, correct?

[2022-08-10 13:35] justanothersynth commented on #570
@RobQuistNL any chance there are more descriptive errors produced by singularity?

CC @xinaxu

[2022-08-10 19:14] RobQuistNL commented on #571
Yes, there are files that come up with "Permission Denied" on the S3 API. Related: https://github.com/filecoin-project/slingshot/issues/570

[2022-08-22 10:02] mithmith commented on #571
While generation process last piece got an error: 'Access Denied'.

**Singularity daemon log:**
2022-08-18T12:19:27.865Z [deal_preparation_worker] warn: Encountered an error when downloading s3://lab41openaudiocorpus/test.txt - AccessDenied: Access Denied - {}
2022-08-18T12:19:27.868Z [deal_preparation_worker] error: Access Denied - {"name":"AccessDenied","$fault":"client","$metadata":{"httpStatus

[2022-08-30 22:12] marostelka opened #573 "Dataset state change request - NOAA Integrated Surface Database (ISD)"
## Dataset information

- **Dataset name:** NOAA Integrated Surface Database (ISD)
- **Dataset state:**
    - [x] "Available"
- **Your handle on Filecoin Slack:** Maroš Telka

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [x] "Downloading dataset"
  - [ ] "CAR generation in progress"

 - **Why is this change being requested?:** `can not select more than 3 datasets -

[2022-09-02 08:26] AlanGreaterheat opened #574 "[v3] Describe your issue here-I cannot download the V3 dataset"
## Purpose of this GitHub issue
* [ ] Issue with Slingshot deal engine
* [x] Feedback for program design

## Description
I cant download slingshot V3 Dataset，epoch-of-reionization-dataset
error info：
https://mwapublic.s3.us-east-1.amazonaws.com/gpubox/2013/1061661928_vis/1061661928_20130827180511_gpubox14_00.fits?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIARI4RIG6AT562SYHM%2F20220902%2Fu

[2022-09-03 19:32] marostelka opened #575 "Common Crawl April 2021 has 0 B"
## Purpose of this GitHub issue
* [x] Issue with Slingshot ~~deal engine~~
* [ ] Feedback for program design

## Description
I have no idea how this happened, but it's clearly wrong. Dataset Common Crawl April 2021 has 0 B.

## Urgency/priorization
* [ ] Low: non-blocking, nice to have
* [x] Medium: non-blocking, eventually must have
* [ ] High: blocking (i.e., I cannot get deal proposals when exp

[2022-09-03 19:50] marostelka opened #576 "non-existent github user with 3 datasets"
## Purpose of this GitHub issue
* [x] Issue with Slingshot ~~deal engine~~
* [ ] Feedback for program design

## Description
User MarlineGFox has 3 datasets allocated:
- NOAA Atmospheric Climate Data Records (7.25 TiB)
- ISERV (4.9 TiB)
- IDEAM - Colombian Radar Network (8.7 TiB)

but I can't find him on github: (API: [MarlineGFox](https://api.github.com/users/MarlineGFox))
![image](https://user-i

[2022-09-06 03:44] orvn commented on #576
Hmm, I'm not finding this user by their [Github UID number](https://api.github.com/user/109978538) either. It's possible the account was deleted or removed. I'll double check to make sure that's actually the case.

[2022-09-10 02:53] AppsMTA opened #577 "Dataset state change request - <dataset name>"
## Dataset information

- **Dataset name:**
- **Dataset state:**
    - [x] "CAR generation complete"
    - [ ] Something else
- **Your handle on Filecoin Slack:**

 ## Change requested

- **Correct dataset state:**
  - [ ] "Not started"
  - [ ] "Downloading dataset"
  - [ ] "CAR generation in progress"

 - **Why is this change being requested?:** `respond here`

[2022-09-10 08:29] #573 closed, assigned to nobody